<a href="https://colab.research.google.com/github/SrijaG29/Movie-Data-Analysis-and-Recommendations-Using-PySpark/blob/main/Movies_ratings_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To create a project using the movie and ratings datasets with PySpark, here’s a step-by-step guide along with some ideas for questions you can answer. This will help demonstrate your PySpark skills and data analysis capabilities on your resume.

### Step 1: Data Exploration
1. **Load the datasets into PySpark**:
   - Load the movie dataset (`movies.csv`) and ratings dataset (`ratings.csv`) into PySpark DataFrames.

2. **Inspect the Data**:
   - Display the schema and first few rows of both DataFrames to understand the data structure.

### Step 2: Data Cleaning and Preparation
1. **Handle Missing Values**:
   - Check for any missing values and decide how to handle them (e.g., drop rows, fill with default values).

2. **Data Transformation**:
   - Extract the year from the movie title and create a new column `year`.
   - Split the `genres` column into an array of genres.

3. **Join the Datasets**:
   - Perform an inner join on the `movieId` column to combine the movie and ratings datasets.

### Step 3: Data Analysis
1. **Top-Rated Movies**:
   - Find the top 10 movies with the highest average rating.

2. **Popular Genres**:
   - Identify the most popular genres based on the number of ratings.

3. **User Behavior**:
   - Analyze the distribution of ratings by users. For example, find how many movies each user has rated.

4. **Yearly Trends**:
   - Determine how the average movie rating has changed over the years.

5. **Genre-Based Recommendations**:
   - For a given genre, list the top 5 movies based on average ratings.

6. **Movies with the Most Reviews**:
   - Identify the movies with the highest number of ratings.

### Step 4: Advanced Analysis
1. **User-Specific Recommendations**:
   - Build a basic recommendation system by suggesting top-rated movies that a user has not rated yet.

2. **Correlate Ratings and Release Year**:
   - Analyze if there’s any correlation between the release year and the average rating of movies.

3. **Genre Diversity in Top-Rated Movies**:
   - Examine the genre diversity among the top 100 highest-rated movies.

### Step 5: Performance Optimization
1. **Cache and Persist**:
   - Use caching and persistence in PySpark to optimize the performance of your queries.

2. **Partitioning**:
   - Apply partitioning to the data to improve the efficiency of operations, especially for large datasets.

### Step 6: Visualization
1. **Visualize Data**:
   - Use PySpark with an external library like Matplotlib, Seaborn, or even Power BI to create visualizations such as:
     - Distribution of ratings.
     - Average rating per genre.
     - Trends in movie ratings over the years.

### Conclusion
This project structure not only demonstrates your technical ability to handle and analyze data using PySpark but also your ability to derive meaningful insights from complex datasets. Once complete, you can showcase this project in your portfolio or resume, highlighting key aspects such as data cleaning, transformation, analysis, and visualization.

In [1]:
# Step 1: Download the ZIP file
!wget https://files.grouplens.org/datasets/movielens/ml-latest-small.zip -O movielens.zip

# Step 2: Extract the ZIP file
!unzip movielens.zip -d movielens_data

--2024-08-27 06:35:55--  https://files.grouplens.org/datasets/movielens/ml-latest-small.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 978202 (955K) [application/zip]
Saving to: ‘movielens.zip’

movielens.zip       100%[===================>] 955.28K  2.29MB/s    in 0.4s

2024-08-27 06:35:56 (2.29 MB/s) - ‘movielens.zip’ saved [978202/978202]

Archive:  movielens.zip
   creating: movielens_data/ml-latest-small/
  inflating: movielens_data/ml-latest-small/links.csv
  inflating: movielens_data/ml-latest-small/tags.csv
  inflating: movielens_data/ml-latest-small/ratings.csv
  inflating: movielens_data/ml-latest-small/README.txt
  inflating: movielens_data/ml-latest-small/movies.csv

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=a331c16773a47cb7bca13fbf14d2b0dfa8585730d464edefb372faeb483ecee3
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = (
    SparkSession
    .builder
    .appName("Movie ratings")
    .master("local[*]")
    .getOrCreate()
)

In [5]:
spark

**Step 1: Data Exploration**
Load the datasets into PySpark session **"spark"**:

Load the movie dataset (movies.csv) and ratings dataset (ratings.csv) into PySpark DataFrames.
Inspect the Data:

Display the schema and first few rows of both DataFrames to understand the data structure.

In [6]:
movies_df = spark.read.format("csv").option("header",True).load("/content/movielens_data/ml-latest-small/movies.csv")
movies_df.show(truncate = False)

+-------+-------------------------------------+-------------------------------------------+
|movieId|title                                |genres                                     |
+-------+-------------------------------------+-------------------------------------------+
|1      |Toy Story (1995)                     |Adventure|Animation|Children|Comedy|Fantasy|
|2      |Jumanji (1995)                       |Adventure|Children|Fantasy                 |
|3      |Grumpier Old Men (1995)              |Comedy|Romance                             |
|4      |Waiting to Exhale (1995)             |Comedy|Drama|Romance                       |
|5      |Father of the Bride Part II (1995)   |Comedy                                     |
|6      |Heat (1995)                          |Action|Crime|Thriller                      |
|7      |Sabrina (1995)                       |Comedy|Romance                             |
|8      |Tom and Huck (1995)                  |Adventure|Children                         |
|9      |Sudden Death (1995)                  |Action                                     |
|10     |GoldenEye (1995)                     |Action|Adventure|Thriller                  |
|11     |American President, The (1995)       |Comedy|Drama|Romance                       |
|12     |Dracula: Dead and Loving It (1995)   |Comedy|Horror                              |
|13     |Balto (1995)                         |Adventure|Animation|Children               |
|14     |Nixon (1995)                         |Drama                                      |
|15     |Cutthroat Island (1995)              |Action|Adventure|Romance                   |
|16     |Casino (1995)                        |Crime|Drama                                |
|17     |Sense and Sensibility (1995)         |Drama|Romance                              |
|18     |Four Rooms (1995)                    |Comedy                                     |
|19     |Ace Ventura: When Nature Calls (1995)|Comedy                                     |
|20     |Money Train (1995)                   |Action|Comedy|Crime|Drama|Thriller         |
+-------+-------------------------------------+-------------------------------------------+
only showing top 20 rows

In [7]:
ratings_df = spark.read.format("csv").option("header",True).load("/content/movielens_data/ml-latest-small/ratings.csv")
ratings_df.show(truncate = False)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|1     |1      |4.0   |964982703|
|1     |3      |4.0   |964981247|
|1     |6      |4.0   |964982224|
|1     |47     |5.0   |964983815|
|1     |50     |5.0   |964982931|
|1     |70     |3.0   |964982400|
|1     |101    |5.0   |964980868|
|1     |110    |4.0   |964982176|
|1     |151    |5.0   |964984041|
|1     |157    |5.0   |964984100|
|1     |163    |5.0   |964983650|
|1     |216    |5.0   |964981208|
|1     |223    |3.0   |964980985|
|1     |231    |5.0   |964981179|
|1     |235    |4.0   |964980908|
|1     |260    |5.0   |964981680|
|1     |296    |3.0   |964982967|
|1     |316    |3.0   |964982310|
|1     |333    |5.0   |964981179|
|1     |349    |4.0   |964982563|
+------+-------+------+---------+
only showing top 20 rows

**Step 2: Data Cleaning and Preparation**

**Handle Missing Values:**

Check for any missing values and decide how to handle them (e.g., drop rows, fill with default values).

In [8]:
from pyspark.sql.functions import sum,col,when,split

In [9]:
print(movies_df.dtypes)

[('movieId', 'string'), ('title', 'string'), ('genres', 'string')]

In [10]:
print(ratings_df.dtypes)

[('userId', 'string'), ('movieId', 'string'), ('rating', 'string'), ('timestamp', 'string')]

In [11]:
from pyspark.sql import functions as F

# Create a list of expressions to count nulls in each column
null_counts_expr = [F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in movies_df.columns]

# Use the list in select()
null_counts = movies_df.select(*null_counts_expr)

# Show the result
null_counts.show()

+-------+-----+------+
|movieId|title|genres|
+-------+-----+------+
|      0|    0|     0|
+-------+-----+------+

In [12]:
# Create a list of expressions to count nulls in each column
null_counts_expr = [F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in ratings_df.columns]

# Use the list in select()
null_counts = ratings_df.select(*null_counts_expr)

# Show the result
null_counts.show()

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     0|      0|     0|        0|
+------+-------+------+---------+

**" There are no null values in these datasets. "**

**Data Transformation:**

Extract the year from the movie title and create a new column year. Split the genres column into an array of genres.

In [13]:
movies_df.show(truncate = False)

+-------+-------------------------------------+-------------------------------------------+
|movieId|title                                |genres                                     |
+-------+-------------------------------------+-------------------------------------------+
|1      |Toy Story (1995)                     |Adventure|Animation|Children|Comedy|Fantasy|
|2      |Jumanji (1995)                       |Adventure|Children|Fantasy                 |
|3      |Grumpier Old Men (1995)              |Comedy|Romance                             |
|4      |Waiting to Exhale (1995)             |Comedy|Drama|Romance                       |
|5      |Father of the Bride Part II (1995)   |Comedy                                     |
|6      |Heat (1995)                          |Action|Crime|Thriller                      |
|7      |Sabrina (1995)                       |Comedy|Romance                             |
|8      |Tom and Huck (1995)                  |Adventure|Children                         |
|9      |Sudden Death (1995)                  |Action                                     |
|10     |GoldenEye (1995)                     |Action|Adventure|Thriller                  |
|11     |American President, The (1995)       |Comedy|Drama|Romance                       |
|12     |Dracula: Dead and Loving It (1995)   |Comedy|Horror                              |
|13     |Balto (1995)                         |Adventure|Animation|Children               |
|14     |Nixon (1995)                         |Drama                                      |
|15     |Cutthroat Island (1995)              |Action|Adventure|Romance                   |
|16     |Casino (1995)                        |Crime|Drama                                |
|17     |Sense and Sensibility (1995)         |Drama|Romance                              |
|18     |Four Rooms (1995)                    |Comedy                                     |
|19     |Ace Ventura: When Nature Calls (1995)|Comedy                                     |
|20     |Money Train (1995)                   |Action|Comedy|Crime|Drama|Thriller         |
+-------+-------------------------------------+-------------------------------------------+
only showing top 20 rows

In [14]:
total_count = movies_df.count()
print(total_count)

9742

Extracting year from title.

In [15]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType

def year_extract(x):
  try:
    f = x.split('(')[-1].strip(')')
    return int(f)
  except:
    return None

x_udf = udf(year_extract,IntegerType())

movies_df = movies_df.withColumn('year',x_udf(col('title')))
movies_df.show(truncate = False)

+-------+-------------------------------------+-------------------------------------------+----+
|movieId|title                                |genres                                     |year|
+-------+-------------------------------------+-------------------------------------------+----+
|1      |Toy Story (1995)                     |Adventure|Animation|Children|Comedy|Fantasy|1995|
|2      |Jumanji (1995)                       |Adventure|Children|Fantasy                 |1995|
|3      |Grumpier Old Men (1995)              |Comedy|Romance                             |1995|
|4      |Waiting to Exhale (1995)             |Comedy|Drama|Romance                       |1995|
|5      |Father of the Bride Part II (1995)   |Comedy                                     |1995|
|6      |Heat (1995)                          |Action|Crime|Thriller                      |1995|
|7      |Sabrina (1995)                       |Comedy|Romance                             |1995|
|8      |Tom and Huck (1995)                  |Adventure|Children                         |1995|
|9      |Sudden Death (1995)                  |Action                                     |1995|
|10     |GoldenEye (1995)                     |Action|Adventure|Thriller                  |1995|
|11     |American President, The (1995)       |Comedy|Drama|Romance                       |1995|
|12     |Dracula: Dead and Loving It (1995)   |Comedy|Horror                              |1995|
|13     |Balto (1995)                         |Adventure|Animation|Children               |1995|
|14     |Nixon (1995)                         |Drama                                      |1995|
|15     |Cutthroat Island (1995)              |Action|Adventure|Romance                   |1995|
|16     |Casino (1995)                        |Crime|Drama                                |1995|
|17     |Sense and Sensibility (1995)         |Drama|Romance                              |1995|
|18     |Four Rooms (1995)                    |Comedy                                     |1995|
|19     |Ace Ventura: When Nature Calls (1995)|Comedy                                     |1995|
|20     |Money Train (1995)                   |Action|Comedy|Crime|Drama|Thriller         |1995|
+-------+-------------------------------------+-------------------------------------------+----+
only showing top 20 rows

In [16]:
from pyspark.sql.functions import asc
# f = movies_df.orderBy(movies_df.year.desc())
f = movies_df.orderBy(movies_df.year.asc())
f.show(truncate = False)

+-------+---------------------------------------------------+-----------------------------------------+----+
|movieId|title                                              |genres                                   |year|
+-------+---------------------------------------------------+-----------------------------------------+----+
|40697  |Babylon 5                                          |Sci-Fi                                   |NULL|
|7789   |"11'09""01 - September 11 (2002)"                  |Drama                                    |NULL|
|27008  |From Dusk Till Dawn 2: Texas Blood Money (1999)    |Comedy|Crime|Horror                      |NULL|
|116668 |Dead Snow 2: Red vs. Dead (2014)                   |Action|Comedy|Horror                     |NULL|
|58404  |Justice League: The New Frontier (2008)            |Action|Adventure|Animation|Fantasy|Sci-Fi|NULL|
|58842  |Assembly (Ji jie hao) (2007)                       |Action|Drama|War                         |NULL|
|94494  |96 Minutes (2011)                                  |Drama|Thriller                           |NULL|
|95004  |Superman/Doomsday (2007)                           |Action|Animation                         |NULL|
|95193  |Pocahontas II: Journey to a New World (1998)       |Adventure|Animation|Children             |NULL|
|96608  |Runaway Brain (1995)                               |Animation|Comedy|Sci-Fi                  |NULL|
|102084 |Justice League: Doom (2012)                        |Action|Animation|Fantasy                 |NULL|
|104017 |3 dev adam (Three Giant Men) (1973)                |Action|Adventure|Sci-Fi                  |NULL|
|106648 |Guilty of Romance (Koi no tsumi) (2011)            |Crime|Drama|Horror                       |NULL|
|140956 |Ready Player One                                   |Action|Sci-Fi|Thriller                   |NULL|
|143410 |Hyena Road                                         |(no genres listed)                       |NULL|
|147250 |The Adventures of Sherlock Holmes and Doctor Watson|(no genres listed)                       |NULL|
|149334 |Nocturnal Animals                                  |Drama|Thriller                           |NULL|
|156605 |Paterson                                           |(no genres listed)                       |NULL|
|162414 |Moonlight                                          |Drama                                    |NULL|
|167570 |The OA                                             |(no genres listed)                       |NULL|
+-------+---------------------------------------------------+-----------------------------------------+----+
only showing top 20 rows

Few columns are None so we will remove those columns.

In [17]:
null_count = movies_df.filter(col("year").isNull()).count()
print(null_count)

25

In [18]:
movies_df = movies_df.dropna(subset=['year'])
movies_df.show(truncate = False)

+-------+-------------------------------------+-------------------------------------------+----+
|movieId|title                                |genres                                     |year|
+-------+-------------------------------------+-------------------------------------------+----+
|1      |Toy Story (1995)                     |Adventure|Animation|Children|Comedy|Fantasy|1995|
|2      |Jumanji (1995)                       |Adventure|Children|Fantasy                 |1995|
|3      |Grumpier Old Men (1995)              |Comedy|Romance                             |1995|
|4      |Waiting to Exhale (1995)             |Comedy|Drama|Romance                       |1995|
|5      |Father of the Bride Part II (1995)   |Comedy                                     |1995|
|6      |Heat (1995)                          |Action|Crime|Thriller                      |1995|
|7      |Sabrina (1995)                       |Comedy|Romance                             |1995|
|8      |Tom and Huck (1995)                  |Adventure|Children                         |1995|
|9      |Sudden Death (1995)                  |Action                                     |1995|
|10     |GoldenEye (1995)                     |Action|Adventure|Thriller                  |1995|
|11     |American President, The (1995)       |Comedy|Drama|Romance                       |1995|
|12     |Dracula: Dead and Loving It (1995)   |Comedy|Horror                              |1995|
|13     |Balto (1995)                         |Adventure|Animation|Children               |1995|
|14     |Nixon (1995)                         |Drama                                      |1995|
|15     |Cutthroat Island (1995)              |Action|Adventure|Romance                   |1995|
|16     |Casino (1995)                        |Crime|Drama                                |1995|
|17     |Sense and Sensibility (1995)         |Drama|Romance                              |1995|
|18     |Four Rooms (1995)                    |Comedy                                     |1995|
|19     |Ace Ventura: When Nature Calls (1995)|Comedy                                     |1995|
|20     |Money Train (1995)                   |Action|Comedy|Crime|Drama|Thriller         |1995|
+-------+-------------------------------------+-------------------------------------------+----+
only showing top 20 rows

In [19]:
null_count = movies_df.filter(col("year").isNull()).count()
print(null_count)

0

In [20]:
from pyspark.sql.functions import asc
# f = movies_df.orderBy(movies_df.year.desc())
f = movies_df.orderBy(movies_df.year.asc())
f.show(truncate = False)

+-------+--------------------------------------------------------------------+-------------------------------+----+
|movieId|title                                                               |genres                         |year|
+-------+--------------------------------------------------------------------+-------------------------------+----+
|32898  |Trip to the Moon, A (Voyage dans la lune, Le) (1902)                |Action|Adventure|Fantasy|Sci-Fi|1902|
|49389  |The Great Train Robbery (1903)                                      |Crime|Western                  |1903|
|140541 |The Electric Hotel (1908)                                           |Animation|Comedy|Sci-Fi        |1908|
|7065   |Birth of a Nation, The (1915)                                       |Drama|War                      |1915|
|7243   |Intolerance: Love's Struggle Throughout the Ages (1916)             |Drama                          |1916|
|62383  |20,000 Leagues Under the Sea (1916)                                 |Action|Adventure|Sci-Fi        |1916|
|72921  |Snow White (1916)                                                   |Fantasy|Romance                |1916|
|102747 |Rink, The (1916)                                                    |Comedy                         |1916|
|8511   |Immigrant, The (1917)                                               |Comedy                         |1917|
|3132   |Daddy Long Legs (1919)                                              |Comedy|Drama                   |1919|
|6987   |Cabinet of Dr. Caligari, The (Cabinet des Dr. Caligari., Das) (1920)|Crime|Fantasy|Horror           |1920|
|82848  |One Week (1920)                                                     |Comedy                         |1920|
|3310   |Kid, The (1921)                                                     |Comedy|Drama                   |1921|
|1348   |Nosferatu (Nosferatu, eine Symphonie des Grauens) (1922)            |Horror                         |1922|
|3641   |Woman of Paris, A (1923)                                            |Drama                          |1923|
|8235   |Safety Last! (1923)                                                 |Action|Comedy|Romance          |1923|
|8609   |Our Hospitality (1923)                                              |Comedy                         |1923|
|25746  |Hunchback of Notre Dame, The (1923)                                 |Drama|Horror                   |1923|
|25753  |Greed (1924)                                                        |Drama                          |1924|
|25750  |Sherlock Jr. (1924)                                                 |Comedy|Fantasy|Romance         |1924|
+-------+--------------------------------------------------------------------+-------------------------------+----+
only showing top 20 rows

In [21]:
genres_df = movies_df.select(movies_df.movieId,movies_df.genres)
genres_df.show(truncate = False)

+-------+-------------------------------------------+
|movieId|genres                                     |
+-------+-------------------------------------------+
|1      |Adventure|Animation|Children|Comedy|Fantasy|
|2      |Adventure|Children|Fantasy                 |
|3      |Comedy|Romance                             |
|4      |Comedy|Drama|Romance                       |
|5      |Comedy                                     |
|6      |Action|Crime|Thriller                      |
|7      |Comedy|Romance                             |
|8      |Adventure|Children                         |
|9      |Action                                     |
|10     |Action|Adventure|Thriller                  |
|11     |Comedy|Drama|Romance                       |
|12     |Comedy|Horror                              |
|13     |Adventure|Animation|Children               |
|14     |Drama                                      |
|15     |Action|Adventure|Romance                   |
|16     |Crime|Drama                                |
|17     |Drama|Romance                              |
|18     |Comedy                                     |
|19     |Comedy                                     |
|20     |Action|Comedy|Crime|Drama|Thriller         |
+-------+-------------------------------------------+
only showing top 20 rows

In [22]:
genres_df = genres_df.withColumn("gener",split(genres_df.genres,"\|"))
genres_df.show(truncate = False)

+-------+-------------------------------------------+-------------------------------------------------+
|movieId|genres                                     |gener                                            |
+-------+-------------------------------------------+-------------------------------------------------+
|1      |Adventure|Animation|Children|Comedy|Fantasy|[Adventure, Animation, Children, Comedy, Fantasy]|
|2      |Adventure|Children|Fantasy                 |[Adventure, Children, Fantasy]                   |
|3      |Comedy|Romance                             |[Comedy, Romance]                                |
|4      |Comedy|Drama|Romance                       |[Comedy, Drama, Romance]                         |
|5      |Comedy                                     |[Comedy]                                         |
|6      |Action|Crime|Thriller                      |[Action, Crime, Thriller]                        |
|7      |Comedy|Romance                             |[Comedy, Romance]                                |
|8      |Adventure|Children                         |[Adventure, Children]                            |
|9      |Action                                     |[Action]                                         |
|10     |Action|Adventure|Thriller                  |[Action, Adventure, Thriller]                    |
|11     |Comedy|Drama|Romance                       |[Comedy, Drama, Romance]                         |
|12     |Comedy|Horror                              |[Comedy, Horror]                                 |
|13     |Adventure|Animation|Children               |[Adventure, Animation, Children]                 |
|14     |Drama                                      |[Drama]                                          |
|15     |Action|Adventure|Romance                   |[Action, Adventure, Romance]                     |
|16     |Crime|Drama                                |[Crime, Drama]                                   |
|17     |Drama|Romance                              |[Drama, Romance]                                 |
|18     |Comedy                                     |[Comedy]                                         |
|19     |Comedy                                     |[Comedy]                                         |
|20     |Action|Comedy|Crime|Drama|Thriller         |[Action, Comedy, Crime, Drama, Thriller]         |
+-------+-------------------------------------------+-------------------------------------------------+
only showing top 20 rows

In [23]:
genres_df = genres_df.drop(genres_df.genres)
genres_df.show(truncate = False)

+-------+-------------------------------------------------+
|movieId|gener                                            |
+-------+-------------------------------------------------+
|1      |[Adventure, Animation, Children, Comedy, Fantasy]|
|2      |[Adventure, Children, Fantasy]                   |
|3      |[Comedy, Romance]                                |
|4      |[Comedy, Drama, Romance]                         |
|5      |[Comedy]                                         |
|6      |[Action, Crime, Thriller]                        |
|7      |[Comedy, Romance]                                |
|8      |[Adventure, Children]                            |
|9      |[Action]                                         |
|10     |[Action, Adventure, Thriller]                    |
|11     |[Comedy, Drama, Romance]                         |
|12     |[Comedy, Horror]                                 |
|13     |[Adventure, Animation, Children]                 |
|14     |[Drama]                                          |
|15     |[Action, Adventure, Romance]                     |
|16     |[Crime, Drama]                                   |
|17     |[Drama, Romance]                                 |
|18     |[Comedy]                                         |
|19     |[Comedy]                                         |
|20     |[Action, Comedy, Crime, Drama, Thriller]         |
+-------+-------------------------------------------------+
only showing top 20 rows

In movies_df there are rows in genre which have value like (no genre listed) so we will remove them.

In [24]:
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType

def clean_genre(x):
    if x != '(no genres listed)':
        return x
    else:
        return None

clean_genre_udf = udf(clean_genre, StringType())
movies_df = movies_df.withColumn('genres', clean_genre_udf(col('genres')))
movies_df.show(truncate=False)

+-------+-------------------------------------+-------------------------------------------+----+
|movieId|title                                |genres                                     |year|
+-------+-------------------------------------+-------------------------------------------+----+
|1      |Toy Story (1995)                     |Adventure|Animation|Children|Comedy|Fantasy|1995|
|2      |Jumanji (1995)                       |Adventure|Children|Fantasy                 |1995|
|3      |Grumpier Old Men (1995)              |Comedy|Romance                             |1995|
|4      |Waiting to Exhale (1995)             |Comedy|Drama|Romance                       |1995|
|5      |Father of the Bride Part II (1995)   |Comedy                                     |1995|
|6      |Heat (1995)                          |Action|Crime|Thriller                      |1995|
|7      |Sabrina (1995)                       |Comedy|Romance                             |1995|
|8      |Tom and Huck (1995)                  |Adventure|Children                         |1995|
|9      |Sudden Death (1995)                  |Action                                     |1995|
|10     |GoldenEye (1995)                     |Action|Adventure|Thriller                  |1995|
|11     |American President, The (1995)       |Comedy|Drama|Romance                       |1995|
|12     |Dracula: Dead and Loving It (1995)   |Comedy|Horror                              |1995|
|13     |Balto (1995)                         |Adventure|Animation|Children               |1995|
|14     |Nixon (1995)                         |Drama                                      |1995|
|15     |Cutthroat Island (1995)              |Action|Adventure|Romance                   |1995|
|16     |Casino (1995)                        |Crime|Drama                                |1995|
|17     |Sense and Sensibility (1995)         |Drama|Romance                              |1995|
|18     |Four Rooms (1995)                    |Comedy                                     |1995|
|19     |Ace Ventura: When Nature Calls (1995)|Comedy                                     |1995|
|20     |Money Train (1995)                   |Action|Comedy|Crime|Drama|Thriller         |1995|
+-------+-------------------------------------+-------------------------------------------+----+
only showing top 20 rows

Checking for null values.

In [25]:
null_count = movies_df.filter(col("genres").isNull()).count()
print(null_count)

25

In [26]:
total_rows = movies_df.count()
print(total_rows)

9717

In [27]:
movies_df = movies_df.filter(movies_df.genres.isNotNull())
movies_df.show(truncate=False)

+-------+-------------------------------------+-------------------------------------------+----+
|movieId|title                                |genres                                     |year|
+-------+-------------------------------------+-------------------------------------------+----+
|1      |Toy Story (1995)                     |Adventure|Animation|Children|Comedy|Fantasy|1995|
|2      |Jumanji (1995)                       |Adventure|Children|Fantasy                 |1995|
|3      |Grumpier Old Men (1995)              |Comedy|Romance                             |1995|
|4      |Waiting to Exhale (1995)             |Comedy|Drama|Romance                       |1995|
|5      |Father of the Bride Part II (1995)   |Comedy                                     |1995|
|6      |Heat (1995)                          |Action|Crime|Thriller                      |1995|
|7      |Sabrina (1995)                       |Comedy|Romance                             |1995|
|8      |Tom and Huck (1995)                  |Adventure|Children                         |1995|
|9      |Sudden Death (1995)                  |Action                                     |1995|
|10     |GoldenEye (1995)                     |Action|Adventure|Thriller                  |1995|
|11     |American President, The (1995)       |Comedy|Drama|Romance                       |1995|
|12     |Dracula: Dead and Loving It (1995)   |Comedy|Horror                              |1995|
|13     |Balto (1995)                         |Adventure|Animation|Children               |1995|
|14     |Nixon (1995)                         |Drama                                      |1995|
|15     |Cutthroat Island (1995)              |Action|Adventure|Romance                   |1995|
|16     |Casino (1995)                        |Crime|Drama                                |1995|
|17     |Sense and Sensibility (1995)         |Drama|Romance                              |1995|
|18     |Four Rooms (1995)                    |Comedy                                     |1995|
|19     |Ace Ventura: When Nature Calls (1995)|Comedy                                     |1995|
|20     |Money Train (1995)                   |Action|Comedy|Crime|Drama|Thriller         |1995|
+-------+-------------------------------------+-------------------------------------------+----+
only showing top 20 rows

In [28]:
null_count = movies_df.filter(col("genres").isNull()).count()
print(null_count)

0

In [29]:
total_rows = movies_df.count()
print(total_rows)

9692

**Join the Datasets:**

Perform an inner join on the movieId column to combine the movie and ratings datasets.

In [30]:
movies_ratings_df = movies_df.join(ratings_df,on='movieId',how='inner')
movies_ratings_df.show(truncate = False)

+-------+-----------------------------------------+-------------------------------------------+----+------+------+---------+
|movieId|title                                    |genres                                     |year|userId|rating|timestamp|
+-------+-----------------------------------------+-------------------------------------------+----+------+------+---------+
|1      |Toy Story (1995)                         |Adventure|Animation|Children|Comedy|Fantasy|1995|1     |4.0   |964982703|
|3      |Grumpier Old Men (1995)                  |Comedy|Romance                             |1995|1     |4.0   |964981247|
|6      |Heat (1995)                              |Action|Crime|Thriller                      |1995|1     |4.0   |964982224|
|47     |Seven (a.k.a. Se7en) (1995)              |Mystery|Thriller                           |1995|1     |5.0   |964983815|
|50     |Usual Suspects, The (1995)               |Crime|Mystery|Thriller                     |1995|1     |5.0   |964982931|
|70     |From Dusk Till Dawn (1996)               |Action|Comedy|Horror|Thriller              |1996|1     |3.0   |964982400|
|101    |Bottle Rocket (1996)                     |Adventure|Comedy|Crime|Romance             |1996|1     |5.0   |964980868|
|110    |Braveheart (1995)                        |Action|Drama|War                           |1995|1     |4.0   |964982176|
|151    |Rob Roy (1995)                           |Action|Drama|Romance|War                   |1995|1     |5.0   |964984041|
|157    |Canadian Bacon (1995)                    |Comedy|War                                 |1995|1     |5.0   |964984100|
|163    |Desperado (1995)                         |Action|Romance|Western                     |1995|1     |5.0   |964983650|
|216    |Billy Madison (1995)                     |Comedy                                     |1995|1     |5.0   |964981208|
|223    |Clerks (1994)                            |Comedy                                     |1994|1     |3.0   |964980985|
|231    |Dumb & Dumber (Dumb and Dumber) (1994)   |Adventure|Comedy                           |1994|1     |5.0   |964981179|
|235    |Ed Wood (1994)                           |Comedy|Drama                               |1994|1     |4.0   |964980908|
|260    |Star Wars: Episode IV - A New Hope (1977)|Action|Adventure|Sci-Fi                    |1977|1     |5.0   |964981680|
|296    |Pulp Fiction (1994)                      |Comedy|Crime|Drama|Thriller                |1994|1     |3.0   |964982967|
|316    |Stargate (1994)                          |Action|Adventure|Sci-Fi                    |1994|1     |3.0   |964982310|
|333    |Tommy Boy (1995)                         |Comedy                                     |1995|1     |5.0   |964981179|
|349    |Clear and Present Danger (1994)          |Action|Crime|Drama|Thriller                |1994|1     |4.0   |964982563|
+-------+-----------------------------------------+-------------------------------------------+----+------+------+---------+
only showing top 20 rows

Now we will change the data types of each column accordingly.

movieId -> int

userId -> int

ratings -> Float

In [31]:
print(movies_ratings_df.dtypes)

[('movieId', 'string'), ('title', 'string'), ('genres', 'string'), ('year', 'int'), ('userId', 'string'), ('rating', 'string'), ('timestamp', 'string')]

In [32]:
# Change the data types of multiple columns
movies_ratings_df = movies_ratings_df.withColumn("movieId", F.col("movieId").cast("integer")) \
                     .withColumn("rating", F.col("rating").cast("float"))\
                     .withColumn("userId", F.col("userId").cast("integer"))

print(movies_ratings_df.dtypes)

[('movieId', 'int'), ('title', 'string'), ('genres', 'string'), ('year', 'int'), ('userId', 'int'), ('rating', 'float'), ('timestamp', 'string')]

In [33]:
movies_ratings_df.count()

100766

**Step 3: Data Analysis**

**Top-Rated Movies:**

Find the top 10 movies with the highest average rating.

In [ ]:
from pyspark.sql.functions import avg,desc,asc
top_ten_movies = movies_ratings_df.groupby('movieId','title').agg(avg('rating').alias('Avg_rating'))
top_ten_movies = top_ten_movies.orderBy(top_ten_movies.Avg_rating.desc())
top_ten_movies.show(10,truncate = False)

+-------+-------------------------------------------------------+----------+
|movieId|title                                                  |Avg_rating|
+-------+-------------------------------------------------------+----------+
|267928 |Unreal News Reel (1923)                                |5.0       |
|189587 |The Idiot Cycle (2009)                                 |5.0       |
|240070 |SpongeBob SquarePants: Heroes of Bikini Bottom (2011)  |5.0       |
|266250 |Brian Wilson: I Just Wasn't Made for These Times (1995)|5.0       |
|221334 |Bavaria - A magical journey (2012)                     |5.0       |
|228813 |The Hero's Journey: The World of Joseph Campbell (1987)|5.0       |
|287247 |The Beach Boys: Making Pet Sounds (2017)               |5.0       |
|226832 |The Beast (2014)                                       |5.0       |
|199756 |Zum Teufel mit der Penne (1968)                        |5.0       |
|223908 |Lung (2016)                                            |5.0       |
+-------+-------------------------------------------------------+----------+
only showing top 10 rows

**Popular Genres:**

Identify the most popular genres based on the number of ratings.

In [ ]:
from pyspark.sql.functions import count

popular_genres = movies_ratings_df.groupBy('genres').agg(count('rating').alias('No_of_ratings'))
popular_genres = popular_genres.sort(popular_genres.No_of_ratings.desc())
popular_genres.show(truncate = False)

+--------------------------------+-------------+
|genres                          |No_of_ratings|
+--------------------------------+-------------+
|Drama                           |2247114      |
|Comedy                          |1876631      |
|Comedy|Romance                  |1090830      |
|Drama|Romance                   |978575       |
|Comedy|Drama                    |919399       |
|Comedy|Drama|Romance            |871837       |
|Action|Adventure|Sci-Fi         |799753       |
|Crime|Drama                     |762923       |
|Action|Crime|Thriller           |482833       |
|Drama|Thriller                  |464062       |
|Action|Adventure|Sci-Fi|Thriller|438591       |
|Action|Adventure|Thriller       |415166       |
|Action|Sci-Fi|Thriller          |395940       |
|Crime|Drama|Thriller            |387572       |
|Drama|War                       |359478       |
|Action|Crime|Drama|Thriller     |327357       |
|Action|Drama|War                |325357       |
|Comedy|Crime                    |321352       |
|Documentary                     |314730       |
|Horror                          |262108       |
+--------------------------------+-------------+
only showing top 20 rows

**User Behavior:**

Analyze the distribution of ratings by users. For example, find how many movies each user has rated.

In [ ]:
user_rating = movies_ratings_df.groupBy('userId').agg(count('userId').alias('No_of_ratings')).orderBy(movies_ratings_df.userId.asc())
user_rating.show(truncate = False)

+------+-------------+
|userId|No_of_ratings|
+------+-------------+
|1     |141          |
|2     |52           |
|3     |147          |
|4     |27           |
|5     |33           |
|6     |26           |
|7     |44           |
|8     |30           |
|9     |58           |
|10    |660          |
|11    |20           |
|12    |23           |
|13    |65           |
|14    |29           |
|15    |82           |
|16    |294          |
|17    |86           |
|18    |138          |
|19    |47           |
|20    |139          |
+------+-------------+
only showing top 20 rows

**Yearly Trends:**

Determine how the average movie rating has changed over the years.

In [ ]:
movies_ratings_df.select('year').show()

+----+
|year|
+----+
|1995|
|1995|
|1995|
|1995|
|1995|
|1995|
|1995|
|1995|
|1995|
|1976|
|1995|
|1995|
|1995|
|1994|
|1994|
|1977|
|1994|
|1994|
|1993|
|1995|
+----+
only showing top 20 rows

In [ ]:
avg_rating_year = movies_ratings_df.groupBy('year').agg(avg('rating').alias('Avg_rating'))
avg_rating_year.show(truncate = False)

+----+------------------+
|year|Avg_rating        |
+----+------------------+
|1959|3.8107774040575713|
|1990|3.4513714113949603|
|1896|2.9234972677595628|
|1903|3.066532258064516 |
|1975|3.8815535107687804|
|1977|3.8233296303051407|
|1888|2.577272727272727 |
|1924|3.763372956909361 |
|2003|3.47684039842985  |
|2007|3.507449919061784 |
|1892|2.7777777777777777|
|2018|3.4762552780695954|
|1974|3.8950891613262746|
|2015|3.5664814492136325|
|2023|3.345118898623279 |
|1927|3.8604250713372035|
|1955|3.719717275877964 |
|1890|2.238095238095238 |
|2006|3.555690373687808 |
|1978|3.4619190067903967|
+----+------------------+
only showing top 20 rows

**Genre-Based Recommendations:**

For a given genre, list the top 5 movies based on average ratings.

In [ ]:
genre_input = input("Enter the genre to filter movies: ")

top_five_movies = (movies_ratings_df.filter(col('genres') == genre_input)\
                   .groupBy('title')\
                   .agg(avg('rating').alias('Avg_rating'))\
                   .orderBy(col('Avg_rating').desc())
                   .limit(5))
top_five_movies.show(truncate = False)

Enter the genre to filter movies: Action
+--------------------------+----------+
|title                     |Avg_rating|
+--------------------------+----------+
|Drunken Master 3 (1994)   |5.0       |
|FB: Fighting Beat (2007)  |5.0       |
|Legend of a Fighter (1982)|5.0       |
|Shanghai 13 (1984)        |5.0       |
|Street Level (2016)       |5.0       |
+--------------------------+----------+

**Movies with the Most Reviews:**

Identify the movies with the highest number of ratings.

In [ ]:
from pyspark.sql.functions import desc

In [ ]:
most_reviews = movies_ratings_df.groupBy('movieId','title')\
              .agg(count(col('rating')).alias('No_of_reviews'))\
              .orderBy(col('No_of_reviews').desc())\
              .limit(1)
most_reviews.show(truncate = False)

+-------+--------------------------------+-------------+
|movieId|title                           |No_of_reviews|
+-------+--------------------------------+-------------+
|318    |Shawshank Redemption, The (1994)|102929       |
+-------+--------------------------------+-------------+

In [ ]:
x = movies_df.filter(col("title").like("Shawshank Redemption%"))
x.show(truncate = False)

+-------+--------------------------------+-----------+----+
|movieId|title                           |genres     |year|
+-------+--------------------------------+-----------+----+
|318    |Shawshank Redemption, The (1994)|Crime|Drama|1994|
+-------+--------------------------------+-----------+----+

**Step 4: Advanced Analysis**

**User-Specific Recommendations:**

Build a basic recommendation system by suggesting top-rated movies that a user has not rated yet.

In [ ]:
top_rated_movies = movies_ratings_df.groupBy('movieId', 'title')\
    .agg(avg(col('rating')).alias('Avg_rating'))\
    .orderBy(col('Avg_rating').desc())\
    .limit(100)\
    .select('movieId','title')

top_rated_movies.show(truncate = False)

+-------+-------------------------------------------------------+
|movieId|title                                                  |
+-------+-------------------------------------------------------+
|136996 |The Wrong Girl (1999)                                  |
|117656 |Drunken Master 3 (1994)                                |
|277798 |Frank & Zed (2020)                                     |
|289775 |Toma (2021)                                            |
|226640 |Zabardast (2018)                                       |
|248740 |Legs - Atavism (2012)                                  |
|226832 |The Beast (2014)                                       |
|282565 |The Book of the Sea (2018)                             |
|266250 |Brian Wilson: I Just Wasn't Made for These Times (1995)|
|292047 |Bamboo Doll of Echizen (1963)                          |
|289249 |Cirque du Soleil: Quidam (1999)                        |
|267928 |Unreal News Reel (1923)                                |
|137018 |A Sister's Revenge (2013)                              |
|200016 |The Nagano Tapes (2018)                                |
|216372 |Adoring (2019)                                         |
|222374 |The Colossus of Destiny: A Melvins Tale (2016)         |
|141064 |Uomo e galantuomo (1975)                               |
|221334 |Bavaria - A magical journey (2012)                     |
|282531 |A Night at the Kindergarten (2022)                     |
|287247 |The Beach Boys: Making Pet Sounds (2017)               |
+-------+-------------------------------------------------------+
only showing top 20 rows

In [ ]:
total_users = movies_ratings_df.select('userId').distinct().count()
print(total_users)

200948

In [ ]:
distinct_user_ids = movies_ratings_df.select(movies_ratings_df.userId).distinct()
distinct_user_ids.show(truncate = False)

+------+
|userId|
+------+
|148   |
|463   |
|471   |
|496   |
|833   |
|1088  |
|1238  |
|1342  |
|1580  |
|1591  |
|1645  |
|1829  |
|1959  |
|2122  |
|2142  |
|2366  |
|2659  |
|2866  |
|3175  |
|3749  |
+------+
only showing top 20 rows

In [ ]:
user_id_input = input('Enter user id')

user_ratings = movies_ratings_df.filter(col('userId') == user_id_input).select('movieId','title')
user_ratings.show(truncate = False)

Enter user id1
+-------+---------------------------------------------------------------+
|movieId|title                                                          |
+-------+---------------------------------------------------------------+
|17     |Sense and Sensibility (1995)                                   |
|25     |Leaving Las Vegas (1995)                                       |
|29     |City of Lost Children, The (Cité des enfants perdus, La) (1995)|
|30     |Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)           |
|32     |Twelve Monkeys (a.k.a. 12 Monkeys) (1995)                      |
|34     |Babe (1995)                                                    |
|36     |Dead Man Walking (1995)                                        |
|80     |White Balloon, The (Badkonake sefid) (1995)                    |
|110    |Braveheart (1995)                                              |
|111    |Taxi Driver (1976)                                             |
|161    |Crimson Tide (1995)                                            |
|166    |Doom Generation, The (1995)                                    |
|176    |Living in Oblivion (1995)                                      |
|223    |Clerks (1994)                                                  |
|232    |Eat Drink Man Woman (Yin shi nan nu) (1994)                    |
|260    |Star Wars: Episode IV - A New Hope (1977)                      |
|302    |Queen Margot (Reine Margot, La) (1994)                         |
|306    |Three Colors: Red (Trois couleurs: Rouge) (1994)               |
|307    |Three Colors: Blue (Trois couleurs: Bleu) (1993)               |
|322    |Swimming with Sharks (1995)                                    |
+-------+---------------------------------------------------------------+
only showing top 20 rows


The **left anti join** in PySpark is similar to the join functionality, but it returns only columns from the left DataFrame for non-matched records.

In [ ]:
recommended_movies_df = top_rated_movies.join(user_ratings, on='movieId', how='left_anti')
recommended_movies_df.show(truncate = False)

+-------+-------------------------------------------------------+
|movieId|title                                                  |
+-------+-------------------------------------------------------+
|267948 |Christmas Cracker (1963)                               |
|243480 |Jealousy Is My Middle Name (2002)                      |
|247138 |The Science of Sleep (2016)                            |
|172071 |Atelier Fontana (2011)                                 |
|140369 |War Arrow (1954)                                       |
|285265 |Love in Bloom (2022)                                   |
|214182 |The Wedding Do Over (2018)                             |
|289249 |Cirque du Soleil: Quidam (1999)                        |
|257905 |The Sauce of Love (2021)                               |
|228813 |The Hero's Journey: The World of Joseph Campbell (1987)|
|143422 |2 (2007)                                               |
|282531 |A Night at the Kindergarten (2022)                     |
|267038 |Christmas in the Rockies (2021)                        |
|267940 |Silvery Moon (1933)                                    |
|237368 |Picture Perfect Royal Christmas (2019)                 |
|226640 |Zabardast (2018)                                       |
|290858 |The Wedding Veil Expectations (2023)                   |
|137018 |A Sister's Revenge (2013)                              |
|266054 |See You Next Christmas (2021)                          |
|213177 |The Light in the Forest (1958)                         |
+-------+-------------------------------------------------------+
only showing top 20 rows

left_anti join will keep only the movies that are not in the user’s rated movies list.

**Correlate Ratings and Release Year:**

Analyze if there’s any correlation between the release year and the average rating of movies.

In [ ]:
avg_rating_year = movies_ratings_df.groupBy('year').agg(avg(col('rating')).alias('Avg_rating'))
avg_rating_year.show(truncate = False)

+----+------------------+
|year|Avg_rating        |
+----+------------------+
|1959|3.8107774040575713|
|1990|3.4513714113949603|
|1896|2.9234972677595628|
|1903|3.066532258064516 |
|1975|3.8815535107687804|
|1977|3.8233296303051407|
|1888|2.577272727272727 |
|1924|3.763372956909361 |
|2003|3.47684039842985  |
|2007|3.507449919061784 |
|1892|2.7777777777777777|
|2018|3.4762552780695954|
|1974|3.8950891613262746|
|2015|3.5664814492136325|
|2023|3.345118898623279 |
|1927|3.8604250713372035|
|1955|3.719717275877964 |
|1890|2.238095238095238 |
|2006|3.555690373687808 |
|1978|3.4619190067903967|
+----+------------------+
only showing top 20 rows

In [ ]:
avg_rating_year_pd = avg_rating_year.toPandas()
correlation = avg_rating_year_pd['year'].astype(float).corr(avg_rating_year_pd['Avg_rating'])
print("Correlation between release year and average rating: ",correlation)

Correlation between release year and average rating:  0.3809941166120315

In this we are caluclatuing Pearson correlation coefficient between the year and Avg_rating columns.

**Conclusion:** There appears to be a moderate trend where newer movies (those released more recently) tend to receive slightly higher average ratings than older movies as pearson correlation coefficient comes under moderate strength.

**Genre Diversity in Top-Rated Movies:**

Examine the genre diversity among the top 100 highest-rated movies.

In [ ]:
top_rated_movies = movies_ratings_df.groupBy('movieId', 'title')\
    .agg(avg(col('rating')).alias('Avg_rating'))\
    .orderBy(col('Avg_rating').desc())\
    .limit(100)\
    .select('movieId','title')

top_rated_movies.show(truncate = False)

+-------+-------------------------------------------------------+
|movieId|title                                                  |
+-------+-------------------------------------------------------+
|136996 |The Wrong Girl (1999)                                  |
|117656 |Drunken Master 3 (1994)                                |
|277798 |Frank & Zed (2020)                                     |
|289775 |Toma (2021)                                            |
|226640 |Zabardast (2018)                                       |
|248740 |Legs - Atavism (2012)                                  |
|226832 |The Beast (2014)                                       |
|282565 |The Book of the Sea (2018)                             |
|266250 |Brian Wilson: I Just Wasn't Made for These Times (1995)|
|292047 |Bamboo Doll of Echizen (1963)                          |
|289249 |Cirque du Soleil: Quidam (1999)                        |
|267928 |Unreal News Reel (1923)                                |
|137018 |A Sister's Revenge (2013)                              |
|200016 |The Nagano Tapes (2018)                                |
|216372 |Adoring (2019)                                         |
|222374 |The Colossus of Destiny: A Melvins Tale (2016)         |
|141064 |Uomo e galantuomo (1975)                               |
|221334 |Bavaria - A magical journey (2012)                     |
|282531 |A Night at the Kindergarten (2022)                     |
|287247 |The Beach Boys: Making Pet Sounds (2017)               |
+-------+-------------------------------------------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import explode,countDistinct

In [ ]:
movies_df_aliased = movies_df.alias('m')
top_rated_movies_aliased = top_rated_movies.alias('t')


genres_split_df = movies_df_aliased.withColumn("genre", explode(split(col("genres"), "\\|"))) \
                                   .join(top_rated_movies_aliased, on="movieId") \
                                   .select('m.title', 'genre')

genres_split_df.show(truncate=False)

+------------------------------+-----------+
|title                         |genre      |
+------------------------------+-----------+
|Fitzgerald (2002)             |Drama      |
|Until They Sail (1957)        |Drama      |
|Until They Sail (1957)        |Romance    |
|Until They Sail (1957)        |War        |
|A Sister's Revenge (2013)     |Drama      |
|A Sister's Revenge (2013)     |Mystery    |
|A Sister's Revenge (2013)     |Thriller   |
|The Perfect Neighbor (2005)   |Drama      |
|The Perfect Neighbor (2005)   |Thriller   |
|War Arrow (1954)              |Adventure  |
|War Arrow (1954)              |Drama      |
|War Arrow (1954)              |Romance    |
|War Arrow (1954)              |War        |
|War Arrow (1954)              |Western    |
|Uomo e galantuomo (1975)      |Comedy     |
|2 (2007)                      |Drama      |
|Tammy and the Doctor (1963)   |Comedy     |
|Tammy and the Doctor (1963)   |Romance    |
|Who Killed Chea Vichea? (2010)|Documentary|
|The Far Pavilions (1984)      |Drama      |
+------------------------------+-----------+
only showing top 20 rows

In [ ]:
# Count distinct genres
genre_diversity = genres_split_df.groupBy("title") \
                                .agg(countDistinct("genre").alias("distinct_genres"))
genre_diversity = genre_diversity.orderBy(col('distinct_genres').desc())
genre_diversity.show(truncate = False)

+--------------------------------------------------+---------------+
|title                                             |distinct_genres|
+--------------------------------------------------+---------------+
|War Arrow (1954)                                  |5              |
|Christmas Cracker (1963)                          |4              |
|The Light in the Forest (1958)                    |4              |
|Me Sinto Bem com Você (2021)                      |3              |
|Silvery Moon (1933)                               |3              |
|Paper Marriage (1988)                             |3              |
|Until They Sail (1957)                            |3              |
|A Sister's Revenge (2013)                         |3              |
|See You Next Christmas (2021)                     |3              |
|Nico the Unicorn (1998)                           |3              |
|The Final Exit of the Disciples of Ascensia (2019)|3              |
|B&B Merry (2022)                                  |3              |
|Lung (2016)                                       |3              |
|The Beast (2014)                                  |3              |
|The Sauce of Love (2021)                          |3              |
|The Trouble with Mistletoe (2017)                 |2              |
|The Wedding Veil Expectations (2023)              |2              |
|Return to Christmas Creek (2018)                  |2              |
|Alien Girl (2010)                                 |2              |
|Daredevils of the Red Circle (1939)               |2              |
+--------------------------------------------------+---------------+
only showing top 20 rows

**Total Genre Counts:**

You might want to count how many times each genre appears across all the top 100 movies.

In [ ]:
total_count = genres_split_df.groupBy('genre').agg(count(col('genre')).alias('No_of_count'))
total_count = total_count.orderBy(col('No_of_count').desc())
total_count.show(truncate = False)

+-----------+-----------+
|genre      |No_of_count|
+-----------+-----------+
|Romance    |52         |
|Comedy     |33         |
|Drama      |31         |
|Documentary|15         |
|Animation  |6          |
|Children   |5          |
|Action     |5          |
|Thriller   |4          |
|War        |4          |
|Horror     |4          |
|Adventure  |3          |
|Fantasy    |3          |
|Mystery    |2          |
|Western    |2          |
|Crime      |1          |
|Sci-Fi     |1          |
+-----------+-----------+

**Percentage Representation:**

Calculate the percentage representation of each genre among the top-rated movies to understand which genres dominate.

In [ ]:
from pyspark.sql.functions import round, col

percentage_count = total_count.withColumn('percentage_out_of_5',(col('No_of_count') / 5) * 100)
percentage_count.show(truncate=False)

+-----------+-----------+-------------------+
|genre      |No_of_count|percentage_out_of_5|
+-----------+-----------+-------------------+
|Romance    |52         |1040.0             |
|Comedy     |33         |660.0              |
|Drama      |31         |620.0              |
|Documentary|15         |300.0              |
|Animation  |6          |120.0              |
|Children   |5          |100.0              |
|Action     |5          |100.0              |
|Thriller   |4          |80.0               |
|War        |4          |80.0               |
|Horror     |4          |80.0               |
|Adventure  |3          |60.0               |
|Fantasy    |3          |60.0               |
|Mystery    |2          |40.0               |
|Western    |2          |40.0               |
|Crime      |1          |20.0               |
|Sci-Fi     |1          |20.0               |
+-----------+-----------+-------------------+

**Step 5: Performance Optimization**

**Cache and Persist:**

Use caching and persistence in PySpark to optimize the performance of your queries.

**Partitioning:**

Apply partitioning to the data to improve the efficiency of operations, especially for large datasets.

**Step 6: Visualization**

**Visualize Data:**
Use PySpark with an external library like Matplotlib, Seaborn, or even Power BI to create visualizations such as:
Distribution of ratings.
Average rating per genre.
Trends in movie ratings over the years.

**Pyspark MLib:**

1Q) Can we predict whether a user will give a movie a high rating (e.g., 4 or 5 stars) based on the movie's genre, year, and user's past ratings?

For this we need to do data preprocessing.

In [34]:
movies_ratings_df = movies_ratings_df.withColumn('genres',split('genres','\|'))
movies_ratings_df.show(truncate = False)

+-------+-----------------------------------------+-------------------------------------------------+----+------+------+---------+
|movieId|title                                    |genres                                           |year|userId|rating|timestamp|
+-------+-----------------------------------------+-------------------------------------------------+----+------+------+---------+
|1      |Toy Story (1995)                         |[Adventure, Animation, Children, Comedy, Fantasy]|1995|1     |4.0   |964982703|
|3      |Grumpier Old Men (1995)                  |[Comedy, Romance]                                |1995|1     |4.0   |964981247|
|6      |Heat (1995)                              |[Action, Crime, Thriller]                        |1995|1     |4.0   |964982224|
|47     |Seven (a.k.a. Se7en) (1995)              |[Mystery, Thriller]                              |1995|1     |5.0   |964983815|
|50     |Usual Suspects, The (1995)               |[Crime, Mystery, Thriller]                       |1995|1     |5.0   |964982931|
|70     |From Dusk Till Dawn (1996)               |[Action, Comedy, Horror, Thriller]               |1996|1     |3.0   |964982400|
|101    |Bottle Rocket (1996)                     |[Adventure, Comedy, Crime, Romance]              |1996|1     |5.0   |964980868|
|110    |Braveheart (1995)                        |[Action, Drama, War]                             |1995|1     |4.0   |964982176|
|151    |Rob Roy (1995)                           |[Action, Drama, Romance, War]                    |1995|1     |5.0   |964984041|
|157    |Canadian Bacon (1995)                    |[Comedy, War]                                    |1995|1     |5.0   |964984100|
|163    |Desperado (1995)                         |[Action, Romance, Western]                       |1995|1     |5.0   |964983650|
|216    |Billy Madison (1995)                     |[Comedy]                                         |1995|1     |5.0   |964981208|
|223    |Clerks (1994)                            |[Comedy]                                         |1994|1     |3.0   |964980985|
|231    |Dumb & Dumber (Dumb and Dumber) (1994)   |[Adventure, Comedy]                              |1994|1     |5.0   |964981179|
|235    |Ed Wood (1994)                           |[Comedy, Drama]                                  |1994|1     |4.0   |964980908|
|260    |Star Wars: Episode IV - A New Hope (1977)|[Action, Adventure, Sci-Fi]                      |1977|1     |5.0   |964981680|
|296    |Pulp Fiction (1994)                      |[Comedy, Crime, Drama, Thriller]                 |1994|1     |3.0   |964982967|
|316    |Stargate (1994)                          |[Action, Adventure, Sci-Fi]                      |1994|1     |3.0   |964982310|
|333    |Tommy Boy (1995)                         |[Comedy]                                         |1995|1     |5.0   |964981179|
|349    |Clear and Present Danger (1994)          |[Action, Crime, Drama, Thriller]                 |1994|1     |4.0   |964982563|
+-------+-----------------------------------------+-------------------------------------------------+----+------+------+---------+
only showing top 20 rows

In [35]:
from pyspark.sql.functions import explode
array_genres = movies_ratings_df.select('genres')
array_genres.show(truncate = False)

+-------------------------------------------------+
|genres                                           |
+-------------------------------------------------+
|[Adventure, Animation, Children, Comedy, Fantasy]|
|[Comedy, Romance]                                |
|[Action, Crime, Thriller]                        |
|[Mystery, Thriller]                              |
|[Crime, Mystery, Thriller]                       |
|[Action, Comedy, Horror, Thriller]               |
|[Adventure, Comedy, Crime, Romance]              |
|[Action, Drama, War]                             |
|[Action, Drama, Romance, War]                    |
|[Comedy, War]                                    |
|[Action, Romance, Western]                       |
|[Comedy]                                         |
|[Comedy]                                         |
|[Adventure, Comedy]                              |
|[Comedy, Drama]                                  |
|[Action, Adventure, Sci-Fi]                      |
|[Comedy, Crime, Drama, Thriller]                 |
|[Action, Adventure, Sci-Fi]                      |
|[Comedy]                                         |
|[Action, Crime, Drama, Thriller]                 |
+-------------------------------------------------+
only showing top 20 rows

In [36]:
genres_exploded_df =  array_genres.withColumn('genres',explode('genres'))
genres_exploded_df.show(truncate = False)

+---------+
|genres   |
+---------+
|Adventure|
|Animation|
|Children |
|Comedy   |
|Fantasy  |
|Comedy   |
|Romance  |
|Action   |
|Crime    |
|Thriller |
|Mystery  |
|Thriller |
|Crime    |
|Mystery  |
|Thriller |
|Action   |
|Comedy   |
|Horror   |
|Thriller |
|Adventure|
+---------+
only showing top 20 rows

In [37]:
genres_exploded_df = genres_exploded_df.distinct()
genres_exploded_df.show()

+-----------+
|     genres|
+-----------+
|      Crime|
|    Romance|
|   Thriller|
|  Adventure|
|      Drama|
|        War|
|Documentary|
|    Fantasy|
|    Mystery|
|    Musical|
|  Animation|
|  Film-Noir|
|       IMAX|
|     Horror|
|    Western|
|     Comedy|
|   Children|
|     Action|
|     Sci-Fi|
+-----------+

In [38]:
genres_list = genres_exploded_df.collect()
print(genres_list[0][0])

Crime

In [39]:
l = len(genres_list)
print(l)

19

In [40]:
movies_ratings_df1 = movies_ratings_df.select('*')
movies_ratings_df1.show(truncate = False)

+-------+-----------------------------------------+-------------------------------------------------+----+------+------+---------+
|movieId|title                                    |genres                                           |year|userId|rating|timestamp|
+-------+-----------------------------------------+-------------------------------------------------+----+------+------+---------+
|1      |Toy Story (1995)                         |[Adventure, Animation, Children, Comedy, Fantasy]|1995|1     |4.0   |964982703|
|3      |Grumpier Old Men (1995)                  |[Comedy, Romance]                                |1995|1     |4.0   |964981247|
|6      |Heat (1995)                              |[Action, Crime, Thriller]                        |1995|1     |4.0   |964982224|
|47     |Seven (a.k.a. Se7en) (1995)              |[Mystery, Thriller]                              |1995|1     |5.0   |964983815|
|50     |Usual Suspects, The (1995)               |[Crime, Mystery, Thriller]                       |1995|1     |5.0   |964982931|
|70     |From Dusk Till Dawn (1996)               |[Action, Comedy, Horror, Thriller]               |1996|1     |3.0   |964982400|
|101    |Bottle Rocket (1996)                     |[Adventure, Comedy, Crime, Romance]              |1996|1     |5.0   |964980868|
|110    |Braveheart (1995)                        |[Action, Drama, War]                             |1995|1     |4.0   |964982176|
|151    |Rob Roy (1995)                           |[Action, Drama, Romance, War]                    |1995|1     |5.0   |964984041|
|157    |Canadian Bacon (1995)                    |[Comedy, War]                                    |1995|1     |5.0   |964984100|
|163    |Desperado (1995)                         |[Action, Romance, Western]                       |1995|1     |5.0   |964983650|
|216    |Billy Madison (1995)                     |[Comedy]                                         |1995|1     |5.0   |964981208|
|223    |Clerks (1994)                            |[Comedy]                                         |1994|1     |3.0   |964980985|
|231    |Dumb & Dumber (Dumb and Dumber) (1994)   |[Adventure, Comedy]                              |1994|1     |5.0   |964981179|
|235    |Ed Wood (1994)                           |[Comedy, Drama]                                  |1994|1     |4.0   |964980908|
|260    |Star Wars: Episode IV - A New Hope (1977)|[Action, Adventure, Sci-Fi]                      |1977|1     |5.0   |964981680|
|296    |Pulp Fiction (1994)                      |[Comedy, Crime, Drama, Thriller]                 |1994|1     |3.0   |964982967|
|316    |Stargate (1994)                          |[Action, Adventure, Sci-Fi]                      |1994|1     |3.0   |964982310|
|333    |Tommy Boy (1995)                         |[Comedy]                                         |1995|1     |5.0   |964981179|
|349    |Clear and Present Danger (1994)          |[Action, Crime, Drama, Thriller]                 |1994|1     |4.0   |964982563|
+-------+-----------------------------------------+-------------------------------------------------+----+------+------+---------+
only showing top 20 rows

In [41]:

from pyspark.sql.functions import lit

for i in range(l):
    movies_ratings_df1 = movies_ratings_df1.withColumn(str(genres_list[i][0]),lit(0))
movies_ratings_df1.show(truncate = False)

+-------+-----------------------------------------+-------------------------------------------------+----+------+------+---------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+
|movieId|title                                    |genres                                           |year|userId|rating|timestamp|Crime|Romance|Thriller|Adventure|Drama|War|Documentary|Fantasy|Mystery|Musical|Animation|Film-Noir|IMAX|Horror|Western|Comedy|Children|Action|Sci-Fi|
+-------+-----------------------------------------+-------------------------------------------------+----+------+------+---------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+
|1      |Toy Story (1995)                         |[Adventure, Animation, Children, Comedy, Fantasy]|1995|1     |4.0   |964982703|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
|3      |Grumpier Old Men (1995)                  |[Comedy, Romance]                                |1995|1     |4.0   |964981247|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
|6      |Heat (1995)                              |[Action, Crime, Thriller]                        |1995|1     |4.0   |964982224|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
|47     |Seven (a.k.a. Se7en) (1995)              |[Mystery, Thriller]                              |1995|1     |5.0   |964983815|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
|50     |Usual Suspects, The (1995)               |[Crime, Mystery, Thriller]                       |1995|1     |5.0   |964982931|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
|70     |From Dusk Till Dawn (1996)               |[Action, Comedy, Horror, Thriller]               |1996|1     |3.0   |964982400|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
|101    |Bottle Rocket (1996)                     |[Adventure, Comedy, Crime, Romance]              |1996|1     |5.0   |964980868|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
|110    |Braveheart (1995)                        |[Action, Drama, War]                             |1995|1     |4.0   |964982176|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
|151    |Rob Roy (1995)                           |[Action, Drama, Romance, War]                    |1995|1     |5.0   |964984041|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
|157    |Canadian Bacon (1995)                    |[Comedy, War]                                    |1995|1     |5.0   |964984100|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
|163    |Desperado (1995)                         |[Action, Romance, Western]                       |1995|1     |5.0   |964983650|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
|216    |Billy Madison (1995)                     |[Comedy]                                         |1995|1     |5.0   |964981208|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
|223    |Clerks (1994)                            |[Comedy]                                         |1994|1     |3.0   |964980985|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
|231    |Dumb & Dumber (Dumb and Dumber) (1994)   |[Adventure, Comedy]                              |1994|1     |5.0   |964981179|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
|235    |Ed Wood (1994)                           |[Comedy, Drama]                                  |1994|1     |4.0   |964980908|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
|260    |Star Wars: Episode IV - A New Hope (1977)|[Action, Adventure, Sci-Fi]                      |1977|1     |5.0   |964981680|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
|296    |Pulp Fiction (1994)                      |[Comedy, Crime, Drama, Thriller]                 |1994|1     |3.0   |964982967|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
|316    |Stargate (1994)                          |[Action, Adventure, Sci-Fi]                      |1994|1     |3.0   |964982310|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
|333    |Tommy Boy (1995)                         |[Comedy]                                         |1995|1     |5.0   |964981179|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
|349    |Clear and Present Danger (1994)          |[Action, Crime, Drama, Thriller]                 |1994|1     |4.0   |964982563|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
+-------+-----------------------------------------+-------------------------------------------------+----+------+------+---------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+
only showing top 20 rows

In [42]:
def genres_update(x, y):
    if y in x:
        return 1
    else:
        return 0


x_udf = udf(genres_update, IntegerType())

for i in range(l):
    genre = genres_list[i][0]
    movies_ratings_df1 = movies_ratings_df1.withColumn(genre, x_udf(col('genres'), lit(genre)))


movies_ratings_df1.show(truncate=False)

+-------+-----------------------------------------+-------------------------------------------------+----+------+------+---------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+
|movieId|title                                    |genres                                           |year|userId|rating|timestamp|Crime|Romance|Thriller|Adventure|Drama|War|Documentary|Fantasy|Mystery|Musical|Animation|Film-Noir|IMAX|Horror|Western|Comedy|Children|Action|Sci-Fi|
+-------+-----------------------------------------+-------------------------------------------------+----+------+------+---------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+
|1      |Toy Story (1995)                         |[Adventure, Animation, Children, Comedy, Fantasy]|1995|1     |4.0   |964982703|0    |0      |0       |1        |0    |0  |0          |1      |0      |0      |1        |0        |0   |0     |0      |1     |1       |0     |0     |
|3      |Grumpier Old Men (1995)                  |[Comedy, Romance]                                |1995|1     |4.0   |964981247|0    |1      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |1     |0       |0     |0     |
|6      |Heat (1995)                              |[Action, Crime, Thriller]                        |1995|1     |4.0   |964982224|1    |0      |1       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |
|47     |Seven (a.k.a. Se7en) (1995)              |[Mystery, Thriller]                              |1995|1     |5.0   |964983815|0    |0      |1       |0        |0    |0  |0          |0      |1      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
|50     |Usual Suspects, The (1995)               |[Crime, Mystery, Thriller]                       |1995|1     |5.0   |964982931|1    |0      |1       |0        |0    |0  |0          |0      |1      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |
|70     |From Dusk Till Dawn (1996)               |[Action, Comedy, Horror, Thriller]               |1996|1     |3.0   |964982400|0    |0      |1       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |1     |0      |1     |0       |1     |0     |
|101    |Bottle Rocket (1996)                     |[Adventure, Comedy, Crime, Romance]              |1996|1     |5.0   |964980868|1    |1      |0       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |1     |0       |0     |0     |
|110    |Braveheart (1995)                        |[Action, Drama, War]                             |1995|1     |4.0   |964982176|0    |0      |0       |0        |1    |1  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |
|151    |Rob Roy (1995)                           |[Action, Drama, Romance, War]                    |1995|1     |5.0   |964984041|0    |1      |0       |0        |1    |1  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |
|157    |Canadian Bacon (1995)                    |[Comedy, War]                                    |1995|1     |5.0   |964984100|0    |0      |0       |0        |0    |1  |0          |0      |0      |0      |0        |0        |0   |0     |0      |1     |0       |0     |0     |
|163    |Desperado (1995)                         |[Action, Romance, Western]                       |1995|1     |5.0   |964983650|0    |1      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |1      |0     |0       |1     |0     |
|216    |Billy Madison (1995)                     |[Comedy]                                         |1995|1     |5.0   |964981208|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |1     |0       |0     |0     |
|223    |Clerks (1994)                            |[Comedy]                                         |1994|1     |3.0   |964980985|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |1     |0       |0     |0     |
|231    |Dumb & Dumber (Dumb and Dumber) (1994)   |[Adventure, Comedy]                              |1994|1     |5.0   |964981179|0    |0      |0       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |1     |0       |0     |0     |
|235    |Ed Wood (1994)                           |[Comedy, Drama]                                  |1994|1     |4.0   |964980908|0    |0      |0       |0        |1    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |1     |0       |0     |0     |
|260    |Star Wars: Episode IV - A New Hope (1977)|[Action, Adventure, Sci-Fi]                      |1977|1     |5.0   |964981680|0    |0      |0       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |1     |
|296    |Pulp Fiction (1994)                      |[Comedy, Crime, Drama, Thriller]                 |1994|1     |3.0   |964982967|1    |0      |1       |0        |1    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |1     |0       |0     |0     |
|316    |Stargate (1994)                          |[Action, Adventure, Sci-Fi]                      |1994|1     |3.0   |964982310|0    |0      |0       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |1     |
|333    |Tommy Boy (1995)                         |[Comedy]                                         |1995|1     |5.0   |964981179|0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |1     |0       |0     |0     |
|349    |Clear and Present Danger (1994)          |[Action, Crime, Drama, Thriller]                 |1994|1     |4.0   |964982563|1    |0      |1       |0        |1    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |
+-------+-----------------------------------------+-------------------------------------------------+----+------+------+---------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+
only showing top 20 rows

In [43]:
print(movies_ratings_df1.dtypes)

[('movieId', 'int'), ('title', 'string'), ('genres', 'array<string>'), ('year', 'int'), ('userId', 'int'), ('rating', 'float'), ('timestamp', 'string'), ('Crime', 'int'), ('Romance', 'int'), ('Thriller', 'int'), ('Adventure', 'int'), ('Drama', 'int'), ('War', 'int'), ('Documentary', 'int'), ('Fantasy', 'int'), ('Mystery', 'int'), ('Musical', 'int'), ('Animation', 'int'), ('Film-Noir', 'int'), ('IMAX', 'int'), ('Horror', 'int'), ('Western', 'int'), ('Comedy', 'int'), ('Children', 'int'), ('Action', 'int'), ('Sci-Fi', 'int')]

In [44]:
movies_ratings_df1 = movies_ratings_df1.drop('movieId','title','genres','year','timestamp')
movies_ratings_df1.show()

+------+------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+
|userId|rating|Crime|Romance|Thriller|Adventure|Drama|War|Documentary|Fantasy|Mystery|Musical|Animation|Film-Noir|IMAX|Horror|Western|Comedy|Children|Action|Sci-Fi|
+------+------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+
|     1|   4.0|    0|      0|       0|        1|    0|  0|          0|      1|      0|      0|        1|        0|   0|     0|      0|     1|       1|     0|     0|
|     1|   4.0|    0|      1|       0|        0|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     1|       0|     0|     0|
|     1|   4.0|    1|      0|       1|        0|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|     1|   5.0|    0|      0|       1|        0|    0|  0|          0|      0|      1|      0|        0|        0|   0|     0|      0|     0|       0|     0|     0|
|     1|   5.0|    1|      0|       1|        0|    0|  0|          0|      0|      1|      0|        0|        0|   0|     0|      0|     0|       0|     0|     0|
|     1|   3.0|    0|      0|       1|        0|    0|  0|          0|      0|      0|      0|        0|        0|   0|     1|      0|     1|       0|     1|     0|
|     1|   5.0|    1|      1|       0|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     1|       0|     0|     0|
|     1|   4.0|    0|      0|       0|        0|    1|  1|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|     1|   5.0|    0|      1|       0|        0|    1|  1|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|     1|   5.0|    0|      0|       0|        0|    0|  1|          0|      0|      0|      0|        0|        0|   0|     0|      0|     1|       0|     0|     0|
|     1|   5.0|    0|      1|       0|        0|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      1|     0|       0|     1|     0|
|     1|   5.0|    0|      0|       0|        0|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     1|       0|     0|     0|
|     1|   3.0|    0|      0|       0|        0|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     1|       0|     0|     0|
|     1|   5.0|    0|      0|       0|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     1|       0|     0|     0|
|     1|   4.0|    0|      0|       0|        0|    1|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     1|       0|     0|     0|
|     1|   5.0|    0|      0|       0|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     1|
|     1|   3.0|    1|      0|       1|        0|    1|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     1|       0|     0|     0|
|     1|   3.0|    0|      0|       0|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     1|
|     1|   5.0|    0|      0|       0|        0|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     1|       0|     0|     0|
|     1|   4.0|    1|      0|       1|        0|    1|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
+------+------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+
only showing top 20 rows

In [45]:
# print(f.dtypes)
print(genres_list)

[Row(genres='Crime'), Row(genres='Romance'), Row(genres='Thriller'), Row(genres='Adventure'), Row(genres='Drama'), Row(genres='War'), Row(genres='Documentary'), Row(genres='Fantasy'), Row(genres='Mystery'), Row(genres='Musical'), Row(genres='Animation'), Row(genres='Film-Noir'), Row(genres='IMAX'), Row(genres='Horror'), Row(genres='Western'), Row(genres='Comedy'), Row(genres='Children'), Row(genres='Action'), Row(genres='Sci-Fi')]

In [46]:
movies_ratings_df1 = movies_ratings_df1.withColumn('userId',col('userId').cast('int'))\
    .withColumn('rating',col('rating').cast('int'))

print(movies_ratings_df1.dtypes)

[('userId', 'int'), ('rating', 'int'), ('Crime', 'int'), ('Romance', 'int'), ('Thriller', 'int'), ('Adventure', 'int'), ('Drama', 'int'), ('War', 'int'), ('Documentary', 'int'), ('Fantasy', 'int'), ('Mystery', 'int'), ('Musical', 'int'), ('Animation', 'int'), ('Film-Noir', 'int'), ('IMAX', 'int'), ('Horror', 'int'), ('Western', 'int'), ('Comedy', 'int'), ('Children', 'int'), ('Action', 'int'), ('Sci-Fi', 'int')]

In [47]:
from pyspark.ml.feature import VectorAssembler


assembler = VectorAssembler(inputCols = ['userId','Crime','Romance','Thriller','Adventure','Drama','War','Documentary','Fantasy','Mystery','Musical','Animation','Film-Noir','IMAX','Horror','Western','Comedy','Children','Action','Sci-Fi'],outputCol = 'user_details')

movies_ratings_df1 = assembler.transform(movies_ratings_df1)

movies_ratings_df1.show(truncate = False)

+------+------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+-----------------------------------------------+
|userId|rating|Crime|Romance|Thriller|Adventure|Drama|War|Documentary|Fantasy|Mystery|Musical|Animation|Film-Noir|IMAX|Horror|Western|Comedy|Children|Action|Sci-Fi|user_details                                   |
+------+------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+-----------------------------------------------+
|1     |4     |0    |0      |0       |1        |0    |0  |0          |1      |0      |0      |1        |0        |0   |0     |0      |1     |1       |0     |0     |(20,[0,4,8,11,16,17],[1.0,1.0,1.0,1.0,1.0,1.0])|
|1     |4     |0    |1      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |1     |0       |0     |0     |(20,[0,2,16],[1.0,1.0,1.0])                    |
|1     |4     |1    |0      |1       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,1,3,18],[1.0,1.0,1.0,1.0])              |
|1     |5     |0    |0      |1       |0        |0    |0  |0          |0      |1      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |(20,[0,3,9],[1.0,1.0,1.0])                     |
|1     |5     |1    |0      |1       |0        |0    |0  |0          |0      |1      |0      |0        |0        |0   |0     |0      |0     |0       |0     |0     |(20,[0,1,3,9],[1.0,1.0,1.0,1.0])               |
|1     |3     |0    |0      |1       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |1     |0      |1     |0       |1     |0     |(20,[0,3,14,16,18],[1.0,1.0,1.0,1.0,1.0])      |
|1     |5     |1    |1      |0       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |1     |0       |0     |0     |(20,[0,1,2,4,16],[1.0,1.0,1.0,1.0,1.0])        |
|1     |4     |0    |0      |0       |0        |1    |1  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,5,6,18],[1.0,1.0,1.0,1.0])              |
|1     |5     |0    |1      |0       |0        |1    |1  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,2,5,6,18],[1.0,1.0,1.0,1.0,1.0])        |
|1     |5     |0    |0      |0       |0        |0    |1  |0          |0      |0      |0      |0        |0        |0   |0     |0      |1     |0       |0     |0     |(20,[0,6,16],[1.0,1.0,1.0])                    |
|1     |5     |0    |1      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |1      |0     |0       |1     |0     |(20,[0,2,15,18],[1.0,1.0,1.0,1.0])             |
|1     |5     |0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |1     |0       |0     |0     |(20,[0,16],[1.0,1.0])                          |
|1     |3     |0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |1     |0       |0     |0     |(20,[0,16],[1.0,1.0])                          |
|1     |5     |0    |0      |0       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |1     |0       |0     |0     |(20,[0,4,16],[1.0,1.0,1.0])                    |
|1     |4     |0    |0      |0       |0        |1    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |1     |0       |0     |0     |(20,[0,5,16],[1.0,1.0,1.0])                    |
|1     |5     |0    |0      |0       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |1     |(20,[0,4,18,19],[1.0,1.0,1.0,1.0])             |
|1     |3     |1    |0      |1       |0        |1    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |1     |0       |0     |0     |(20,[0,1,3,5,16],[1.0,1.0,1.0,1.0,1.0])        |
|1     |3     |0    |0      |0       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |1     |(20,[0,4,18,19],[1.0,1.0,1.0,1.0])             |
|1     |5     |0    |0      |0       |0        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |1     |0       |0     |0     |(20,[0,16],[1.0,1.0])                          |
|1     |4     |1    |0      |1       |0        |1    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,1,3,5,18],[1.0,1.0,1.0,1.0,1.0])        |
+------+------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+-----------------------------------------------+
only showing top 20 rows

In [48]:
 movies_ratings_df1.select('user_details').show(truncate = False)

+-----------------------------------------------+
|user_details                                   |
+-----------------------------------------------+
|(20,[0,4,8,11,16,17],[1.0,1.0,1.0,1.0,1.0,1.0])|
|(20,[0,2,16],[1.0,1.0,1.0])                    |
|(20,[0,1,3,18],[1.0,1.0,1.0,1.0])              |
|(20,[0,3,9],[1.0,1.0,1.0])                     |
|(20,[0,1,3,9],[1.0,1.0,1.0,1.0])               |
|(20,[0,3,14,16,18],[1.0,1.0,1.0,1.0,1.0])      |
|(20,[0,1,2,4,16],[1.0,1.0,1.0,1.0,1.0])        |
|(20,[0,5,6,18],[1.0,1.0,1.0,1.0])              |
|(20,[0,2,5,6,18],[1.0,1.0,1.0,1.0,1.0])        |
|(20,[0,6,16],[1.0,1.0,1.0])                    |
|(20,[0,2,15,18],[1.0,1.0,1.0,1.0])             |
|(20,[0,16],[1.0,1.0])                          |
|(20,[0,16],[1.0,1.0])                          |
|(20,[0,4,16],[1.0,1.0,1.0])                    |
|(20,[0,5,16],[1.0,1.0,1.0])                    |
|(20,[0,4,18,19],[1.0,1.0,1.0,1.0])             |
|(20,[0,1,3,5,16],[1.0,1.0,1.0,1.0,1.0])        |
|(20,[0,4,18,19],[1.0,1.0,1.0,1.0])             |
|(20,[0,16],[1.0,1.0])                          |
|(20,[0,1,3,5,18],[1.0,1.0,1.0,1.0,1.0])        |
+-----------------------------------------------+
only showing top 20 rows

In [49]:
movie_data_training = movies_ratings_df1.select('rating','user_details')
movie_data_training.show(truncate = False)

+------+-----------------------------------------------+
|rating|user_details                                   |
+------+-----------------------------------------------+
|4     |(20,[0,4,8,11,16,17],[1.0,1.0,1.0,1.0,1.0,1.0])|
|4     |(20,[0,2,16],[1.0,1.0,1.0])                    |
|4     |(20,[0,1,3,18],[1.0,1.0,1.0,1.0])              |
|5     |(20,[0,3,9],[1.0,1.0,1.0])                     |
|5     |(20,[0,1,3,9],[1.0,1.0,1.0,1.0])               |
|3     |(20,[0,3,14,16,18],[1.0,1.0,1.0,1.0,1.0])      |
|5     |(20,[0,1,2,4,16],[1.0,1.0,1.0,1.0,1.0])        |
|4     |(20,[0,5,6,18],[1.0,1.0,1.0,1.0])              |
|5     |(20,[0,2,5,6,18],[1.0,1.0,1.0,1.0,1.0])        |
|5     |(20,[0,6,16],[1.0,1.0,1.0])                    |
|5     |(20,[0,2,15,18],[1.0,1.0,1.0,1.0])             |
|5     |(20,[0,16],[1.0,1.0])                          |
|3     |(20,[0,16],[1.0,1.0])                          |
|5     |(20,[0,4,16],[1.0,1.0,1.0])                    |
|4     |(20,[0,5,16],[1.0,1.0,1.0])                    |
|5     |(20,[0,4,18,19],[1.0,1.0,1.0,1.0])             |
|3     |(20,[0,1,3,5,16],[1.0,1.0,1.0,1.0,1.0])        |
|3     |(20,[0,4,18,19],[1.0,1.0,1.0,1.0])             |
|5     |(20,[0,16],[1.0,1.0])                          |
|4     |(20,[0,1,3,5,18],[1.0,1.0,1.0,1.0,1.0])        |
+------+-----------------------------------------------+
only showing top 20 rows

In [50]:
train_data, test_data = movie_data_training.randomSplit([0.8, 0.2], seed=42)

In [62]:
train_data.show(truncate = False)
train_data.groupBy("rating").count().show()

+------+------------------------------------------------------------+
|rating|user_details                                                |
+------+------------------------------------------------------------+
|0     |(20,[0,1,2,5],[22.0,1.0,1.0,1.0])                           |
|0     |(20,[0,1,2,5],[153.0,1.0,1.0,1.0])                          |
|0     |(20,[0,1,2,5,8,9,12],[462.0,1.0,1.0,1.0,1.0,1.0,1.0])       |
|0     |(20,[0,1,2,5,16],[298.0,1.0,1.0,1.0,1.0])                   |
|0     |(20,[0,1,2,9,16],[580.0,1.0,1.0,1.0,1.0])                   |
|0     |(20,[0,1,3],[21.0,1.0,1.0])                                 |
|0     |(20,[0,1,3,4],[358.0,1.0,1.0,1.0])                          |
|0     |(20,[0,1,3,4,14,18],[22.0,1.0,1.0,1.0,1.0,1.0])             |
|0     |(20,[0,1,3,4,14,18],[41.0,1.0,1.0,1.0,1.0,1.0])             |
|0     |(20,[0,1,3,4,16,18],[274.0,1.0,1.0,1.0,1.0,1.0])            |
|0     |(20,[0,1,3,4,16,18],[438.0,1.0,1.0,1.0,1.0,1.0])            |
|0     |(20,[0,1,3,5],[22.0,1.0,1.0,1.0])                           |
|0     |(20,[0,1,3,5],[573.0,1.0,1.0,1.0])                          |
|0     |(20,[0,1,3,5],[599.0,1.0,1.0,1.0])                          |
|0     |(20,[0,1,3,5,8,9],[573.0,1.0,1.0,1.0,1.0,1.0])              |
|0     |(20,[0,1,3,5,9],[138.0,1.0,1.0,1.0,1.0])                    |
|0     |(20,[0,1,3,5,9],[160.0,1.0,1.0,1.0,1.0])                    |
|0     |(20,[0,1,3,5,9],[160.0,1.0,1.0,1.0,1.0])                    |
|0     |(20,[0,1,3,5,9,13,18,19],[41.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0])|
|0     |(20,[0,1,3,5,9,18],[22.0,1.0,1.0,1.0,1.0,1.0])              |
+------+------------------------------------------------------------+
only showing top 20 rows

+------+-----+
|rating|count|
+------+-----+
|     1| 3688|
|     3|26408|
|     5|10585|
|     4|28229|
|     2|10485|
|     0| 1132|
+------+-----+

In [63]:
test_data.show(truncate = False)
test_data.groupBy("rating").count().show()

+------+------------------------------------------------+
|rating|user_details                                    |
+------+------------------------------------------------+
|0     |(20,[0,1,2,5],[159.0,1.0,1.0,1.0])              |
|0     |(20,[0,1,2,16],[307.0,1.0,1.0,1.0])             |
|0     |(20,[0,1,3],[517.0,1.0,1.0])                    |
|0     |(20,[0,1,3,4,16,18],[310.0,1.0,1.0,1.0,1.0,1.0])|
|0     |(20,[0,1,3,5,9],[51.0,1.0,1.0,1.0,1.0])         |
|0     |(20,[0,1,3,5,9],[298.0,1.0,1.0,1.0,1.0])        |
|0     |(20,[0,1,3,5,16],[159.0,1.0,1.0,1.0,1.0])       |
|0     |(20,[0,1,3,5,18],[393.0,1.0,1.0,1.0,1.0])       |
|0     |(20,[0,1,3,9,12,18],[393.0,1.0,1.0,1.0,1.0,1.0])|
|0     |(20,[0,1,3,9,14],[477.0,1.0,1.0,1.0,1.0])       |
|0     |(20,[0,1,3,9,14],[599.0,1.0,1.0,1.0,1.0])       |
|0     |(20,[0,1,3,9,18,19],[399.0,1.0,1.0,1.0,1.0,1.0])|
|0     |(20,[0,1,3,14],[111.0,1.0,1.0,1.0])             |
|0     |(20,[0,1,3,14],[489.0,1.0,1.0,1.0])             |
|0     |(20,[0,1,3,16,18],[310.0,1.0,1.0,1.0,1.0])      |
|0     |(20,[0,1,3,18],[154.0,1.0,1.0,1.0])             |
|0     |(20,[0,1,3,18],[551.0,1.0,1.0,1.0])             |
|0     |(20,[0,1,5,16],[393.0,1.0,1.0,1.0])             |
|0     |(20,[0,1,10,16],[480.0,1.0,1.0,1.0])            |
|0     |(20,[0,1,16],[22.0,1.0,1.0])                    |
+------+------------------------------------------------+
only showing top 20 rows

+------+-----+
|rating|count|
+------+-----+
|     1|  911|
|     3| 6756|
|     5| 2616|
|     4| 7117|
|     2| 2605|
|     0|  234|
+------+-----+

In [64]:
from pyspark.ml.classification import RandomForestClassifier

rf = RandomForestClassifier(featuresCol="user_details", labelCol="rating",numTrees=20)

model = rf.fit(train_data)

In [65]:
predictions = model.transform(test_data)

In [66]:
predictions.show(truncate=False)

+------+------------------------------------------------+------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------+----------+
|rating|user_details                                    |rawPrediction                                                                                                     |probability                                                                                                                |prediction|
+------+------------------------------------------------+------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------+----------+
|0     |(20,[0,1,2,5],[159.0,1.0,1.0,1.0])              |[0.20848784162781306,0.5873290271453385,1.9796877763324057,5.921825192251291,7.861458506181975,3.4412116564611788]|[0.010424392081390652,0.029366451357266926,0.09898438881662028,0.29609125961256455,0.39307292530909876,0.17206058282305894]|4.0       |
|0     |(20,[0,1,2,16],[307.0,1.0,1.0,1.0])             |[0.32788447458920966,1.1625897450229767,3.0858330610077185,6.83886739749558,6.328683869142641,2.2561414527418737] |[0.016394223729460485,0.05812948725114884,0.15429165305038592,0.341943369874779,0.3164341934571321,0.11280707263709369]    |3.0       |
|0     |(20,[0,1,3],[517.0,1.0,1.0])                    |[0.2594898864565227,0.8527836948573777,2.4632226732108653,6.479948130416601,7.162752438509964,2.781803176548671]  |[0.012974494322826135,0.04263918474286889,0.12316113366054326,0.3239974065208301,0.3581376219254982,0.13909015882743353]   |4.0       |
|0     |(20,[0,1,3,4,16,18],[310.0,1.0,1.0,1.0,1.0,1.0])|[0.3380416940943163,1.1423589875852316,3.080593185551054,7.006645745173278,6.204393977998605,2.2279664095975114]  |[0.016902084704715818,0.05711794937926159,0.15402965927755272,0.350332287258664,0.31021969889993034,0.11139832047987559]   |3.0       |
|0     |(20,[0,1,3,5,9],[51.0,1.0,1.0,1.0,1.0])         |[0.1933329259070972,0.5946620231507574,1.9368582624886401,6.077456691761882,8.017339538435861,3.1803505582557627] |[0.009666646295354858,0.029733101157537866,0.096842913124432,0.30387283458809405,0.40086697692179296,0.15901752791278811]  |4.0       |
|0     |(20,[0,1,3,5,9],[298.0,1.0,1.0,1.0,1.0])        |[0.1933329259070972,0.5946620231507574,1.9368582624886401,6.077456691761882,8.017339538435861,3.1803505582557627] |[0.009666646295354858,0.029733101157537866,0.096842913124432,0.30387283458809405,0.40086697692179296,0.15901752791278811]  |4.0       |
|0     |(20,[0,1,3,5,16],[159.0,1.0,1.0,1.0,1.0])       |[0.20022316474465907,0.6179453416030152,2.044323405634895,5.9936179563629475,7.853412798188742,3.2904773334657422]|[0.010011158237232953,0.03089726708015076,0.10221617028174475,0.2996808978181474,0.3926706399094371,0.1645238666732871]    |4.0       |
|0     |(20,[0,1,3,5,18],[393.0,1.0,1.0,1.0,1.0])       |[0.2114421337433685,0.6347050560189732,2.118246158422909,6.368489461242826,7.6557731860029685,3.0113440045689543] |[0.010572106687168426,0.03173525280094866,0.10591230792114545,0.31842447306214133,0.38278865930014844,0.15056720022844772] |4.0       |
|0     |(20,[0,1,3,9,12,18],[393.0,1.0,1.0,1.0,1.0,1.0])|[0.2150619580575439,0.5977071612322475,2.005839210293663,6.18561131812863,7.9746373038887,3.021143048399215]      |[0.010753097902877198,0.029885358061612383,0.10029196051468316,0.30928056590643155,0.3987318651944351,0.1510571524199608]  |4.0       |
|0     |(20,[0,1,3,9,14],[477.0,1.0,1.0,1.0,1.0])       |[0.3544177257561375,0.9373615478943857,2.5176938206029575,6.367467287671262,7.033546989074692,2.7895126290005656] |[0.017720886287806874,0.046868077394719286,0.12588469103014788,0.3183733643835631,0.3516773494537346,0.13947563145002828]  |4.0       |
|0     |(20,[0,1,3,9,14],[599.0,1.0,1.0,1.0,1.0])       |[0.34122526412285004,1.4118960330555157,3.455931378065037,7.0785468348039515,5.66747042398302,2.0449300659696243] |[0.017061263206142506,0.0705948016527758,0.1727965689032519,0.35392734174019763,0.28337352119915105,0.10224650329848124]   |3.0       |
|0     |(20,[0,1,3,9,18,19],[399.0,1.0,1.0,1.0,1.0,1.0])|[0.25432893785235494,0.7322854096068219,2.302971672643512,6.454747109292321,7.374107656905395,2.881559213699595]  |[0.012716446892617746,0.03661427048034109,0.11514858363217559,0.32273735546461607,0.36870538284526977,0.14407796068497974] |4.0       |
|0     |(20,[0,1,3,14],[111.0,1.0,1.0,1.0])             |[0.30771617653761846,0.9493696314215938,2.679096654369461,6.374840088552932,6.851918526490222,2.837058922628174]  |[0.015385808826880922,0.04746848157107969,0.13395483271847305,0.3187420044276466,0.3425959263245111,0.1418529461314087]    |4.0       |
|0     |(20,[0,1,3,14],[489.0,1.0,1.0,1.0])             |[0.30771617653761846,0.9493696314215938,2.679096654369461,6.374840088552932,6.851918526490222,2.837058922628174]  |[0.015385808826880922,0.04746848157107969,0.13395483271847305,0.3187420044276466,0.3425959263245111,0.1418529461314087]    |4.0       |
|0     |(20,[0,1,3,16,18],[310.0,1.0,1.0,1.0,1.0])      |[0.34788101688833206,1.166668984455293,3.105007682433718,7.023456154734339,6.156483598506489,2.2005025629818276]  |[0.017394050844416604,0.058333449222764656,0.1552503841216859,0.35117280773671694,0.30782417992532446,0.11002512814909138] |3.0       |
|0     |(20,[0,1,3,18],[154.0,1.0,1.0,1.0])             |[0.2724125856730397,0.9129419937438504,2.6502979313043555,6.885228097663247,6.758609557648707,2.520509833966801]  |[0.013620629283651986,0.04564709968719252,0.13251489656521778,0.34426140488316237,0.33793047788243535,0.12602549169834004] |3.0       |
|0     |(20,[0,1,3,18],[551.0,1.0,1.0,1.0])             |[0.2724125856730397,0.9129419937438504,2.6502979313043555,6.885228097663247,6.758609557648707,2.520509833966801]  |[0.013620629283651986,0.04564709968719252,0.13251489656521778,0.34426140488316237,0.33793047788243535,0.12602549169834004] |3.0       |
|0     |(20,[0,1,5,16],[393.0,1.0,1.0,1.0])             |[0.20662341288669947,0.625522349543071,2.0432426187127635,6.048176705334634,7.887211638626638,3.1892232748961935] |[0.010331170644334973,0.031276117477153545,0.10216213093563817,0.3024088352667317,0.39436058193133194,0.15946116374480968] |4.0       |
|0     |(20,[0,1,10,16],[480.0,1.0,1.0,1.0])            |[0.3219094933123354,1.0801602018015486,2.8824618781098557,7.01153297215035,6.305822375554462,2.398113079071448]   |[0.016095474665616772,0.05400801009007743,0.14412309390549277,0.3505766486075175,0.3152911187777231,0.1199056539535724]    |3.0       |
|0     |(20,[0,1,16],[22.0,1.0,1.0])                    |[0.3345120088080963,1.1349638319598103,3.03708829454459,6.778091070989171,6.338137032533745,2.377207761164587]    |[0.016725600440404814,0.056748191597990515,0.1518544147272295,0.33890455354945853,0.31690685162668725,0.11886038805822936] |3.0       |
+------+------------------------------------------------+------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------+----------+
only showing top 20 rows

In [67]:
predictions.groupBy('prediction').count().show()

+----------+-----+
|prediction|count|
+----------+-----+
|       4.0|12768|
|       3.0| 7471|
+----------+-----+

In [69]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
evaluator = MulticlassClassificationEvaluator(
    labelCol="rating",
    predictionCol="prediction",
    metricName="accuracy"
)
accuracy = evaluator.evaluate(predictions)
print(accuracy)

0.37926775038292404

In [78]:
from pyspark.ml.regression import RandomForestRegressor
dt = RandomForestRegressor(
    featuresCol="user_details",
    labelCol="rating"
)

dt_model = dt.fit(train_data)

In [79]:
dt_predictions =dt_model.transform(test_data)

In [81]:
dt_predictions.show()

+------+--------------------+------------------+
|rating|        user_details|        prediction|
+------+--------------------+------------------+
|     0|(20,[0,1,2,5],[15...|3.5994130115648915|
|     0|(20,[0,1,2,16],[3...| 3.145741202671794|
|     0|(20,[0,1,3],[517....|3.4220843522784725|
|     0|(20,[0,1,3,4,16,1...|3.1235446137990985|
|     0|(20,[0,1,3,5,9],[...|3.5500368153389963|
|     0|(20,[0,1,3,5,9],[...| 3.533358205967648|
|     0|(20,[0,1,3,5,16],...| 3.617680791464584|
|     0|(20,[0,1,3,5,18],...|3.5007354083360864|
|     0|(20,[0,1,3,9,12,1...|3.4708277021634637|
|     0|(20,[0,1,3,9,14],...|  3.43574196091336|
|     0|(20,[0,1,3,9,14],...|3.2294246873310684|
|     0|(20,[0,1,3,9,18,1...| 3.400370448785888|
|     0|(20,[0,1,3,14],[1...|3.4306476245509336|
|     0|(20,[0,1,3,14],[4...| 3.439115334929464|
|     0|(20,[0,1,3,16,18]...|3.0888253269171266|
|     0|(20,[0,1,3,18],[1...| 3.322083210797575|
|     0|(20,[0,1,3,18],[5...|3.3072621731302894|
|     0|(20,[0,1,5,16],[3...| 3.523941830574118|
|     0|(20,[0,1,10,16],[...|3.2030703062161563|
|     0|(20,[0,1,16],[22....|3.2752340635506116|
+------+--------------------+------------------+
only showing top 20 rows

In [80]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
evaluator = MulticlassClassificationEvaluator(
    labelCol="rating",
    predictionCol="prediction",
    metricName="accuracy"
)
accuracy = evaluator.evaluate(dt_predictions)
print(accuracy)

0.0

In [66]:
model.save("logistic_regression_recommendation")

In [67]:
from pyspark.ml.classification import LogisticRegressionModel
model1 = LogisticRegressionModel.load("/content/logistic_regression_recommendation")

In [68]:
user_id = 148
generes = ['Action','Adventure','Thriller']

In [69]:
d ={}

for i in range(l):
    d[genres_list[i][0]] = i+1

print(d)

{'Crime': 1, 'Romance': 2, 'Thriller': 3, 'Adventure': 4, 'Drama': 5, 'War': 6, 'Documentary': 7, 'Fantasy': 8, 'Mystery': 9, 'Musical': 10, 'Animation': 11, 'Film-Noir': 12, 'IMAX': 13, 'Horror': 14, 'Western': 15, 'Comedy': 16, 'Children': 17, 'Action': 18, 'Sci-Fi': 19}

In [70]:
details = [0]*20
print(details)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [71]:
details[0] = 148

for i in generes:
    details[d.get(i)] = 1

print(details)

[148, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0]

In [78]:
from pyspark.sql.types import IntegerType,StructType,StructField
schema = StructType(
    [
        StructField('userId',IntegerType()),
        StructField('Crime',IntegerType()),
        StructField('Romance',IntegerType()),
        StructField('Thriller',IntegerType()),
        StructField('Adventure',IntegerType()),
        StructField('Drama',IntegerType()),
        StructField('War',IntegerType()),
        StructField('Documentary',IntegerType()),
        StructField('Fantasy',IntegerType()),
        StructField('Mystery',IntegerType()),
        StructField('Musical',IntegerType()),
        StructField('Animation',IntegerType()),
        StructField('Film-Noir',IntegerType()),
        StructField('IMAX',IntegerType()),
        StructField('Horror',IntegerType()),
        StructField('Western',IntegerType()),
        StructField('Comedy',IntegerType()),
        StructField('Children',IntegerType()),
        StructField('Action',IntegerType()),
        StructField('Sci-Fi',IntegerType())
    ]
)

In [85]:
data = tuple(details)
print(data)

(148, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)

In [86]:
df = spark.createDataFrame([data],schema=schema)
df.show()

+------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+
|userId|Crime|Romance|Thriller|Adventure|Drama|War|Documentary|Fantasy|Mystery|Musical|Animation|Film-Noir|IMAX|Horror|Western|Comedy|Children|Action|Sci-Fi|
+------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+
|   148|    0|      0|       1|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
+------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+

In [87]:
from pyspark.ml.feature import VectorAssembler


assembler = VectorAssembler(inputCols = ['userId','Crime','Romance','Thriller','Adventure','Drama','War','Documentary','Fantasy','Mystery','Musical','Animation','Film-Noir','IMAX','Horror','Western','Comedy','Children','Action','Sci-Fi'],outputCol = 'user_details')

df = assembler.transform(df)

df.show(truncate = False)

+------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+-----------------------------------+
|userId|Crime|Romance|Thriller|Adventure|Drama|War|Documentary|Fantasy|Mystery|Musical|Animation|Film-Noir|IMAX|Horror|Western|Comedy|Children|Action|Sci-Fi|user_details                       |
+------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+-----------------------------------+
|148   |0    |0      |1       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,3,4,18],[148.0,1.0,1.0,1.0])|
+------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+-----------------------------------+

In [88]:
x = df.select('user_details')
x.show()

+--------------------+
|        user_details|
+--------------------+
|(20,[0,3,4,18],[1...|
+--------------------+

In [89]:
prediction_1 = model1.transform(x)

In [90]:
prediction_1.show(truncate = False)

+-----------------------------------+---------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------+----------+
|user_details                       |rawPrediction                                                                                                        |probability                                                                                                          |prediction|
+-----------------------------------+---------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------+----------+
|(20,[0,3,4,18],[148.0,1.0,1.0,1.0])|[-1.84208195762524,-0.6892472122680454,0.2508165899346523,1.217662518368797,1.0672835565617929,-0.004433494971956581]|[0.01717488456683451,0.05439557792658407,0.13926055357796485,0.3662047462903687,0.31507592176897,0.10788831586927801]|3.0       |
+-----------------------------------+---------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------+----------+

In [91]:
unique_user_id = movies_ratings_df.select(movies_ratings_df.userId)
unique_user_id.show()

+------+
|userId|
+------+
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
+------+
only showing top 20 rows

In [92]:
unique_user_id = unique_user_id.distinct()
unique_user_id.show()

+------+
|userId|
+------+
|   148|
|   463|
|   471|
|   496|
|   833|
|  1088|
|  1238|
|  1342|
|  1580|
|  1591|
|  1645|
|  1829|
|  1959|
|  2122|
|  2142|
|  2366|
|  2659|
|  2866|
|  3175|
|  3749|
+------+
only showing top 20 rows

In [93]:
users_list = unique_user_id.collect()

In [94]:
ul = len(users_list)
print(ul)

200948

In [97]:
details = [0]*20
for i in generes:
    details[d.get(i)] = 1

print(details)

[0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0]

In [100]:
x = []
for i in users_list:
  details[0] = i[0]
  x.append(tuple(details))

In [102]:
print(x[1])

(463, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0)

In [103]:
df = spark.createDataFrame(x,schema=schema)
df.show()

+------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+
|userId|Crime|Romance|Thriller|Adventure|Drama|War|Documentary|Fantasy|Mystery|Musical|Animation|Film-Noir|IMAX|Horror|Western|Comedy|Children|Action|Sci-Fi|
+------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+
|   148|    0|      0|       1|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|   463|    0|      0|       1|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|   471|    0|      0|       1|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|   496|    0|      0|       1|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|   833|    0|      0|       1|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|  1088|    0|      0|       1|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|  1238|    0|      0|       1|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|  1342|    0|      0|       1|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|  1580|    0|      0|       1|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|  1591|    0|      0|       1|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|  1645|    0|      0|       1|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|  1829|    0|      0|       1|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|  1959|    0|      0|       1|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|  2122|    0|      0|       1|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|  2142|    0|      0|       1|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|  2366|    0|      0|       1|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|  2659|    0|      0|       1|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|  2866|    0|      0|       1|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|  3175|    0|      0|       1|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
|  3749|    0|      0|       1|        1|    0|  0|          0|      0|      0|      0|        0|        0|   0|     0|      0|     0|       0|     1|     0|
+------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+
only showing top 20 rows

In [104]:
from pyspark.ml.feature import VectorAssembler


assembler = VectorAssembler(inputCols = ['userId','Crime','Romance','Thriller','Adventure','Drama','War','Documentary','Fantasy','Mystery','Musical','Animation','Film-Noir','IMAX','Horror','Western','Comedy','Children','Action','Sci-Fi'],outputCol = 'user_details')

df = assembler.transform(df)

df.show(truncate = False)

+------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+------------------------------------+
|userId|Crime|Romance|Thriller|Adventure|Drama|War|Documentary|Fantasy|Mystery|Musical|Animation|Film-Noir|IMAX|Horror|Western|Comedy|Children|Action|Sci-Fi|user_details                        |
+------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+------------------------------------+
|148   |0    |0      |1       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,3,4,18],[148.0,1.0,1.0,1.0]) |
|463   |0    |0      |1       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,3,4,18],[463.0,1.0,1.0,1.0]) |
|471   |0    |0      |1       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,3,4,18],[471.0,1.0,1.0,1.0]) |
|496   |0    |0      |1       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,3,4,18],[496.0,1.0,1.0,1.0]) |
|833   |0    |0      |1       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,3,4,18],[833.0,1.0,1.0,1.0]) |
|1088  |0    |0      |1       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,3,4,18],[1088.0,1.0,1.0,1.0])|
|1238  |0    |0      |1       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,3,4,18],[1238.0,1.0,1.0,1.0])|
|1342  |0    |0      |1       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,3,4,18],[1342.0,1.0,1.0,1.0])|
|1580  |0    |0      |1       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,3,4,18],[1580.0,1.0,1.0,1.0])|
|1591  |0    |0      |1       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,3,4,18],[1591.0,1.0,1.0,1.0])|
|1645  |0    |0      |1       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,3,4,18],[1645.0,1.0,1.0,1.0])|
|1829  |0    |0      |1       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,3,4,18],[1829.0,1.0,1.0,1.0])|
|1959  |0    |0      |1       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,3,4,18],[1959.0,1.0,1.0,1.0])|
|2122  |0    |0      |1       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,3,4,18],[2122.0,1.0,1.0,1.0])|
|2142  |0    |0      |1       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,3,4,18],[2142.0,1.0,1.0,1.0])|
|2366  |0    |0      |1       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,3,4,18],[2366.0,1.0,1.0,1.0])|
|2659  |0    |0      |1       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,3,4,18],[2659.0,1.0,1.0,1.0])|
|2866  |0    |0      |1       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,3,4,18],[2866.0,1.0,1.0,1.0])|
|3175  |0    |0      |1       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,3,4,18],[3175.0,1.0,1.0,1.0])|
|3749  |0    |0      |1       |1        |0    |0  |0          |0      |0      |0      |0        |0        |0   |0     |0      |0     |0       |1     |0     |(20,[0,3,4,18],[3749.0,1.0,1.0,1.0])|
+------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+----+------+-------+------+--------+------+------+------------------------------------+
only showing top 20 rows

In [105]:
df = df.select(df.user_details)
df.show(truncate = False)

+------------------------------------+
|user_details                        |
+------------------------------------+
|(20,[0,3,4,18],[148.0,1.0,1.0,1.0]) |
|(20,[0,3,4,18],[463.0,1.0,1.0,1.0]) |
|(20,[0,3,4,18],[471.0,1.0,1.0,1.0]) |
|(20,[0,3,4,18],[496.0,1.0,1.0,1.0]) |
|(20,[0,3,4,18],[833.0,1.0,1.0,1.0]) |
|(20,[0,3,4,18],[1088.0,1.0,1.0,1.0])|
|(20,[0,3,4,18],[1238.0,1.0,1.0,1.0])|
|(20,[0,3,4,18],[1342.0,1.0,1.0,1.0])|
|(20,[0,3,4,18],[1580.0,1.0,1.0,1.0])|
|(20,[0,3,4,18],[1591.0,1.0,1.0,1.0])|
|(20,[0,3,4,18],[1645.0,1.0,1.0,1.0])|
|(20,[0,3,4,18],[1829.0,1.0,1.0,1.0])|
|(20,[0,3,4,18],[1959.0,1.0,1.0,1.0])|
|(20,[0,3,4,18],[2122.0,1.0,1.0,1.0])|
|(20,[0,3,4,18],[2142.0,1.0,1.0,1.0])|
|(20,[0,3,4,18],[2366.0,1.0,1.0,1.0])|
|(20,[0,3,4,18],[2659.0,1.0,1.0,1.0])|
|(20,[0,3,4,18],[2866.0,1.0,1.0,1.0])|
|(20,[0,3,4,18],[3175.0,1.0,1.0,1.0])|
|(20,[0,3,4,18],[3749.0,1.0,1.0,1.0])|
+------------------------------------+
only showing top 20 rows

In [106]:
prediction_2 = model1.transform(df)

In [107]:
prediction_2.show(truncate = False)

+------------------------------------+-------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------+----------+
|user_details                        |rawPrediction                                                                                                            |probability                                                                                                               |prediction|
+------------------------------------+-------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------+----------+
|(20,[0,3,4,18],[148.0,1.0,1.0,1.0]) |[-1.84208195762524,-0.6892472122680454,0.2508165899346523,1.217662518368797,1.0672835565617929,-0.004433494971956581]    |[0.01717488456683451,0.05439557792658407,0.13926055357796485,0.3662047462903687,0.31507592176897,0.10788831586927801]     |3.0       |
|(20,[0,3,4,18],[463.0,1.0,1.0,1.0]) |[-1.8421088193573236,-0.6892806315741159,0.2508238527211835,1.2176859138629077,1.0673050336905325,-0.004425349343183976] |[0.01717416654573488,0.054392947153165686,0.13925948366916596,0.36620784069463425,0.31507797970301094,0.10788758223428827]|3.0       |
|(20,[0,3,4,18],[471.0,1.0,1.0,1.0]) |[-1.8421095015600433,-0.6892814803183971,0.2508240371729049,1.2176865080341868,1.067305579141421,-0.004425142470072307]  |[0.017174148310622278,0.0543928803413805,0.13925945649660518,0.366207919282018,0.3150780319673157,0.10788756360205844]    |3.0       |
|(20,[0,3,4,18],[496.0,1.0,1.0,1.0]) |[-1.842111633443542,-0.6892841326442757,0.2508246135845344,1.2176883648194337,1.067307283675448,-0.004424495991598276]   |[0.01717409132600518,0.05439267155503317,0.1392593715822652,0.36620816486738095,0.31507819529304887,0.10788750537626664]  |3.0       |
|(20,[0,3,4,18],[833.0,1.0,1.0,1.0]) |[-1.8421403712331044,-0.6893198859971194,0.25083238361329957,1.2177133942845617,1.0673302607941313,-0.004415781461768548]|[0.017173323189602067,0.054389857186262214,0.13925822692403433,0.36621147532686116,0.3150803968915107,0.10788672048172956]|3.0       |
|(20,[0,3,4,18],[1088.0,1.0,1.0,1.0])|[-1.842162116444791,-0.6893469397210812,0.2508382630119201,1.21773233349408,1.067347647041206,-0.004409187381333612]     |[0.017172741978882484,0.05438772770748031,0.13925736077198722,0.36621398023532203,0.31508206274933764,0.10788612655699023]|3.0       |
|(20,[0,3,4,18],[1238.0,1.0,1.0,1.0])|[-1.8421749077457832,-0.6893628536763527,0.25084172148169687,1.217743474205561,1.0673578742453678,-0.0044053085104895084]|[0.017172400098308418,0.054386475108352234,0.13925685126434587,0.3662154536953445,0.315083042649562,0.10788577718408716]  |3.0       |
|(20,[0,3,4,18],[1342.0,1.0,1.0,1.0])|[-1.8421837763811377,-0.6893738873520079,0.2508441193540754,1.2177511984321883,1.0673649651069197,-0.0044026191600376186]|[0.017172163064625733,0.05438560665503768,0.13925649800291548,0.366216475287535,0.31508372204003066,0.10788553494985562]  |3.0       |
|(20,[0,3,4,18],[1580.0,1.0,1.0,1.0])|[-1.8422040719120454,-0.6893991374943722,0.2508496067927879,1.2177688750277385,1.0673811922708563,-0.00439646468496499]  |[0.017171620632991342,0.054383619280524646,0.13925568956909484,0.366218813141146,0.3150852767773571,0.10788498059888615]  |3.0       |
|(20,[0,3,4,18],[1591.0,1.0,1.0,1.0])|[-1.8422050099407847,-0.6894003045177588,0.2508498604139049,1.2177696920132473,1.0673819422658282,-0.004396180234436414] |[0.017171595562986166,0.054383527428678975,0.1392556522042163,0.36621892119250293,0.3150853486342367,0.10788495497737897] |3.0       |
|(20,[0,3,4,18],[1645.0,1.0,1.0,1.0])|[-1.842209614809142,-0.6894060335416565,0.2508511054630245,1.2177737026693805,1.0673856240593262,-0.004394783840932559]  |[0.017171472492518783,0.05438307652166648,0.13925546877625877,0.36621945162553876,0.3150857013852585,0.10788482919875858] |3.0       |
|(20,[0,3,4,18],[1829.0,1.0,1.0,1.0])|[-1.8422253054716924,-0.6894255546601231,0.25085534785261737,1.2177873686087974,1.0673981694297647,-0.004390025759363786]|[0.017171053147124058,0.05438154012332422,0.1392548437578382,0.36622125901579067,0.31508690334006595,0.10788440061585695] |3.0       |
|(20,[0,3,4,18],[1959.0,1.0,1.0,1.0])|[-1.8422363912658857,-0.689439346754692,0.2508583451930906,1.2177970238920812,1.0674070330067047,-0.0043866640712989236] |[0.01717075687591839,0.05438045464831314,0.1392544021644121,0.36622253596585147,0.31508775253641924,0.10788409780908581]  |3.0       |
|(20,[0,3,4,18],[2122.0,1.0,1.0,1.0])|[-1.842250291146297,-0.6894566399194204,0.25086210339691467,1.217809130131891,1.0674181465685604,-0.004382449031648333]  |[0.017170385403761874,0.05437909365751137,0.1392538484691336,0.3662241370525553,0.31508881728530924,0.10788371813172862]  |3.0       |
|(20,[0,3,4,18],[2142.0,1.0,1.0,1.0])|[-1.8422519966530961,-0.6894587617801233,0.25086256452621825,1.2178106155600885,1.067419510195782,-0.0043819318488691195]|[0.017170339824843193,0.054378926666910424,0.1392537805306749,0.3662243335039752,0.31508894792837217,0.10788367154522398] |3.0       |
|(20,[0,3,4,18],[2366.0,1.0,1.0,1.0])|[-1.8422710983292443,-0.6894825266199958,0.2508677291744182,1.2178272523559006,1.0674347828206634,-0.004376139401741946] |[0.017169829348226803,0.05437705640406925,0.1392530196141476,0.3662265337458959,0.3150904111161537,0.10788314977150675]   |3.0       |
|(20,[0,3,4,18],[2659.0,1.0,1.0,1.0])|[-1.8422960840038491,-0.689513611879293,0.25087448471871554,1.2178490138789941,1.0674547599594593,-0.004368562674026494] |[0.017169161646737863,0.05437461012185842,0.1392520242921082,0.36622941170215484,0.3150923249777753,0.10788246725936529]  |3.0       |
|(20,[0,3,4,18],[2866.0,1.0,1.0,1.0])|[-1.8423137359992183,-0.6895355731375679,0.25087925740700745,1.2178643880608382,1.0674688735012023,-0.004363209832261655]|[0.017168689939662567,0.054372881921432095,0.139251321101411,0.36623144490757314,0.31509367706411445,0.10788198506580679] |3.0       |
|(20,[0,3,4,18],[3175.0,1.0,1.0,1.0])|[-1.842340086079262,-0.6895683558854275,0.25088638185474765,1.2178873379264896,1.0674899415417753,-0.004355219358322809] |[0.017167985818432156,0.05437030223700523,0.13925027139406246,0.3662344799415386,0.31509569535352805,0.10788126525543353] |3.0       |
|(20,[0,3,4,18],[3749.0,1.0,1.0,1.0])|[-1.8423890341243923,-0.6896292532876004,0.2508996162657601,1.2179299697157582,1.067529077643034,-0.004340376212559421]  |[0.017166677906626064,0.054365510497540674,0.139248321398579,0.36624011770668957,0.315099444403717,0.10787992808684768]   |3.0       |
+------------------------------------+-------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------+----------+
only showing top 20 rows

In [111]:
prediction_2.filter(prediction_2.prediction == 1.0).show()

+------------+-------------+-----------+----------+
|user_details|rawPrediction|probability|prediction|
+------------+-------------+-----------+----------+
+------------+-------------+-----------+----------+

In [112]:
prediction_2.groupBy('prediction').count().show()

+----------+------+
|prediction| count|
+----------+------+
|       3.0|200948|
+----------+------+