<a href="https://colab.research.google.com/github/SrijaG29/MovieLens-Data-Analysis-and-Recommendations-Using-PySpark/blob/main/Movies_rating_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To create a project using the movie and ratings datasets with PySpark, here’s a step-by-step guide along with some ideas for questions you can answer. This will help demonstrate your PySpark skills and data analysis capabilities on your resume.

### Step 1: Data Exploration
1. **Load the datasets into PySpark**:
   - Load the movie dataset (`movies.csv`) and ratings dataset (`ratings.csv`) into PySpark DataFrames.

2. **Inspect the Data**:
   - Display the schema and first few rows of both DataFrames to understand the data structure.

### Step 2: Data Cleaning and Preparation
1. **Handle Missing Values**:
   - Check for any missing values and decide how to handle them (e.g., drop rows, fill with default values).

2. **Data Transformation**:
   - Extract the year from the movie title and create a new column `year`.
   - Split the `genres` column into an array of genres.

3. **Join the Datasets**:
   - Perform an inner join on the `movieId` column to combine the movie and ratings datasets.

### Step 3: Data Analysis
1. **Top-Rated Movies**:
   - Find the top 10 movies with the highest average rating.

2. **Popular Genres**:
   - Identify the most popular genres based on the number of ratings.

3. **User Behavior**:
   - Analyze the distribution of ratings by users. For example, find how many movies each user has rated.

4. **Yearly Trends**:
   - Determine how the average movie rating has changed over the years.

5. **Genre-Based Recommendations**:
   - For a given genre, list the top 5 movies based on average ratings.

6. **Movies with the Most Reviews**:
   - Identify the movies with the highest number of ratings.

### Step 4: Advanced Analysis
1. **User-Specific Recommendations**:
   - Build a basic recommendation system by suggesting top-rated movies that a user has not rated yet.

2. **Correlate Ratings and Release Year**:
   - Analyze if there’s any correlation between the release year and the average rating of movies.

3. **Genre Diversity in Top-Rated Movies**:
   - Examine the genre diversity among the top 100 highest-rated movies.

### Step 5: Performance Optimization
1. **Cache and Persist**:
   - Use caching and persistence in PySpark to optimize the performance of your queries.

2. **Partitioning**:
   - Apply partitioning to the data to improve the efficiency of operations, especially for large datasets.

### Step 6: Visualization
1. **Visualize Data**:
   - Use PySpark with an external library like Matplotlib, Seaborn, or even Power BI to create visualizations such as:
     - Distribution of ratings.
     - Average rating per genre.
     - Trends in movie ratings over the years.

### Conclusion
This project structure not only demonstrates your technical ability to handle and analyze data using PySpark but also your ability to derive meaningful insights from complex datasets. Once complete, you can showcase this project in your portfolio or resume, highlighting key aspects such as data cleaning, transformation, analysis, and visualization.

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=f8096a052c068fd7887adb33f78a26ea9ad65c6b36e010f75f01fe9e8682f4e8
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = (
    SparkSession
    .builder
    .appName("Movie ratings")
    .master("local[*]")
    .getOrCreate()
)

**Step 1: Data Exploration**
Load the datasets into PySpark session **"spark"**:

Load the movie dataset (movies.csv) and ratings dataset (ratings.csv) into PySpark DataFrames.
Inspect the Data:

Display the schema and first few rows of both DataFrames to understand the data structure.

In [4]:
movies_df = spark.read.format("csv").option("header",True).load("/content/movies.csv")
movies_df.show(truncate = False)

+-------+-------------------------------------+-------------------------------------------+
|movieId|title                                |genres                                     |
+-------+-------------------------------------+-------------------------------------------+
|1      |Toy Story (1995)                     |Adventure|Animation|Children|Comedy|Fantasy|
|2      |Jumanji (1995)                       |Adventure|Children|Fantasy                 |
|3      |Grumpier Old Men (1995)              |Comedy|Romance                             |
|4      |Waiting to Exhale (1995)             |Comedy|Drama|Romance                       |
|5      |Father of the Bride Part II (1995)   |Comedy                                     |
|6      |Heat (1995)                          |Action|Crime|Thriller                      |
|7      |Sabrina (1995)                       |Comedy|Romance                             |
|8      |Tom and Huck (1995)                  |Adventure|Children                         |
|9      |Sudden Death (1995)                  |Action                                     |
|10     |GoldenEye (1995)                     |Action|Adventure|Thriller                  |
|11     |American President, The (1995)       |Comedy|Drama|Romance                       |
|12     |Dracula: Dead and Loving It (1995)   |Comedy|Horror                              |
|13     |Balto (1995)                         |Adventure|Animation|Children               |
|14     |Nixon (1995)                         |Drama                                      |
|15     |Cutthroat Island (1995)              |Action|Adventure|Romance                   |
|16     |Casino (1995)                        |Crime|Drama                                |
|17     |Sense and Sensibility (1995)         |Drama|Romance                              |
|18     |Four Rooms (1995)                    |Comedy                                     |
|19     |Ace Ventura: When Nature Calls (1995)|Comedy                                     |
|20     |Money Train (1995)                   |Action|Comedy|Crime|Drama|Thriller         |
+-------+-------------------------------------+-------------------------------------------+
only showing top 20 rows

In [5]:
ratings_df = spark.read.format("csv").option("header",True).load("/content/ratings.csv")
ratings_df.show(truncate = False)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|1     |17     |4.0   |944249077|
|1     |25     |1.0   |944250228|
|1     |29     |2.0   |943230976|
|1     |30     |5.0   |944249077|
|1     |32     |5.0   |943228858|
|1     |34     |2.0   |943228491|
|1     |36     |1.0   |944249008|
|1     |80     |5.0   |944248943|
|1     |110    |3.0   |943231119|
|1     |111    |5.0   |944249008|
|1     |161    |1.0   |943231162|
|1     |166    |5.0   |943228442|
|1     |176    |4.0   |944079496|
|1     |223    |3.0   |944082810|
|1     |232    |5.0   |943228442|
|1     |260    |5.0   |943228696|
|1     |302    |4.0   |944253272|
|1     |306    |5.0   |944248888|
|1     |307    |5.0   |944253207|
|1     |322    |4.0   |944053801|
+------+-------+------+---------+
only showing top 20 rows

**Step 2: Data Cleaning and Preparation**

**Handle Missing Values:**

Check for any missing values and decide how to handle them (e.g., drop rows, fill with default values).

In [6]:
from pyspark.sql.functions import sum,col,when,split

In [7]:
print(movies_df.dtypes)

[('movieId', 'string'), ('title', 'string'), ('genres', 'string')]

In [8]:
print(ratings_df.dtypes)

[('userId', 'string'), ('movieId', 'string'), ('rating', 'string'), ('timestamp', 'string')]

In [9]:
# Create an empty list to hold column expressions for missing values
missing_value_expressions_movies = []

# Loop through each column in the DataFrame
for column in movies_df.columns:
    # Count the number of null values in the current column
    missing_expr = sum(when(col(column).isNull(), 1).otherwise(0)).alias(column)
    missing_value_expressions_movies.append(missing_expr)

# Aggregate the missing value counts
missing_movies_df = movies_df.agg(*missing_value_expressions_movies)

# Show the results
missing_movies_df.show()

+-------+-----+------+
|movieId|title|genres|
+-------+-----+------+
|      0|    0|     0|
+-------+-----+------+

In [10]:
# Create an empty list to hold column expressions for missing values
missing_value_expressions_ratings = []

# Loop through each column in the DataFrame
for column in ratings_df.columns:
    # Count the number of null values in the current column
    missing_expr = sum(when(col(column).isNull(), 1).otherwise(0)).alias(column)
    missing_value_expressions_ratings.append(missing_expr)

# Aggregate the missing value counts
missing_ratings_df = ratings_df.agg(*missing_value_expressions_ratings)

# Show the results
missing_ratings_df.show()

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     0|      0|     0|        0|
+------+-------+------+---------+

**" There are no null values in these datasets. "**

**Data Transformation:**

Extract the year from the movie title and create a new column year. Split the genres column into an array of genres.

In [11]:
movies_df.show(truncate = False)

+-------+-------------------------------------+-------------------------------------------+
|movieId|title                                |genres                                     |
+-------+-------------------------------------+-------------------------------------------+
|1      |Toy Story (1995)                     |Adventure|Animation|Children|Comedy|Fantasy|
|2      |Jumanji (1995)                       |Adventure|Children|Fantasy                 |
|3      |Grumpier Old Men (1995)              |Comedy|Romance                             |
|4      |Waiting to Exhale (1995)             |Comedy|Drama|Romance                       |
|5      |Father of the Bride Part II (1995)   |Comedy                                     |
|6      |Heat (1995)                          |Action|Crime|Thriller                      |
|7      |Sabrina (1995)                       |Comedy|Romance                             |
|8      |Tom and Huck (1995)                  |Adventure|Children                         |
|9      |Sudden Death (1995)                  |Action                                     |
|10     |GoldenEye (1995)                     |Action|Adventure|Thriller                  |
|11     |American President, The (1995)       |Comedy|Drama|Romance                       |
|12     |Dracula: Dead and Loving It (1995)   |Comedy|Horror                              |
|13     |Balto (1995)                         |Adventure|Animation|Children               |
|14     |Nixon (1995)                         |Drama                                      |
|15     |Cutthroat Island (1995)              |Action|Adventure|Romance                   |
|16     |Casino (1995)                        |Crime|Drama                                |
|17     |Sense and Sensibility (1995)         |Drama|Romance                              |
|18     |Four Rooms (1995)                    |Comedy                                     |
|19     |Ace Ventura: When Nature Calls (1995)|Comedy                                     |
|20     |Money Train (1995)                   |Action|Comedy|Crime|Drama|Thriller         |
+-------+-------------------------------------+-------------------------------------------+
only showing top 20 rows

Extracting year from title.

In [12]:
movies_df = movies_df.withColumn("movie_name",split(col("title"),"\\(").getItem(0)).withColumn("year", split(col("title"), "\\(").getItem(1).substr(1, 4))

In [13]:
movies_df.show(truncate = False)

+-------+-------------------------------------+-------------------------------------------+-------------------------------+----+
|movieId|title                                |genres                                     |movie_name                     |year|
+-------+-------------------------------------+-------------------------------------------+-------------------------------+----+
|1      |Toy Story (1995)                     |Adventure|Animation|Children|Comedy|Fantasy|Toy Story                      |1995|
|2      |Jumanji (1995)                       |Adventure|Children|Fantasy                 |Jumanji                        |1995|
|3      |Grumpier Old Men (1995)              |Comedy|Romance                             |Grumpier Old Men               |1995|
|4      |Waiting to Exhale (1995)             |Comedy|Drama|Romance                       |Waiting to Exhale              |1995|
|5      |Father of the Bride Part II (1995)   |Comedy                                     |Father of the Bride Part II    |1995|
|6      |Heat (1995)                          |Action|Crime|Thriller                      |Heat                           |1995|
|7      |Sabrina (1995)                       |Comedy|Romance                             |Sabrina                        |1995|
|8      |Tom and Huck (1995)                  |Adventure|Children                         |Tom and Huck                   |1995|
|9      |Sudden Death (1995)                  |Action                                     |Sudden Death                   |1995|
|10     |GoldenEye (1995)                     |Action|Adventure|Thriller                  |GoldenEye                      |1995|
|11     |American President, The (1995)       |Comedy|Drama|Romance                       |American President, The        |1995|
|12     |Dracula: Dead and Loving It (1995)   |Comedy|Horror                              |Dracula: Dead and Loving It    |1995|
|13     |Balto (1995)                         |Adventure|Animation|Children               |Balto                          |1995|
|14     |Nixon (1995)                         |Drama                                      |Nixon                          |1995|
|15     |Cutthroat Island (1995)              |Action|Adventure|Romance                   |Cutthroat Island               |1995|
|16     |Casino (1995)                        |Crime|Drama                                |Casino                         |1995|
|17     |Sense and Sensibility (1995)         |Drama|Romance                              |Sense and Sensibility          |1995|
|18     |Four Rooms (1995)                    |Comedy                                     |Four Rooms                     |1995|
|19     |Ace Ventura: When Nature Calls (1995)|Comedy                                     |Ace Ventura: When Nature Calls |1995|
|20     |Money Train (1995)                   |Action|Comedy|Crime|Drama|Thriller         |Money Train                    |1995|
+-------+-------------------------------------+-------------------------------------------+-------------------------------+----+
only showing top 20 rows

In [14]:
# dropping the column title

movies_df = movies_df.drop(movies_df.title)
movies_df.show(truncate = False)

+-------+-------------------------------------------+-------------------------------+----+
|movieId|genres                                     |movie_name                     |year|
+-------+-------------------------------------------+-------------------------------+----+
|1      |Adventure|Animation|Children|Comedy|Fantasy|Toy Story                      |1995|
|2      |Adventure|Children|Fantasy                 |Jumanji                        |1995|
|3      |Comedy|Romance                             |Grumpier Old Men               |1995|
|4      |Comedy|Drama|Romance                       |Waiting to Exhale              |1995|
|5      |Comedy                                     |Father of the Bride Part II    |1995|
|6      |Action|Crime|Thriller                      |Heat                           |1995|
|7      |Comedy|Romance                             |Sabrina                        |1995|
|8      |Adventure|Children                         |Tom and Huck                   |1995|
|9      |Action                                     |Sudden Death                   |1995|
|10     |Action|Adventure|Thriller                  |GoldenEye                      |1995|
|11     |Comedy|Drama|Romance                       |American President, The        |1995|
|12     |Comedy|Horror                              |Dracula: Dead and Loving It    |1995|
|13     |Adventure|Animation|Children               |Balto                          |1995|
|14     |Drama                                      |Nixon                          |1995|
|15     |Action|Adventure|Romance                   |Cutthroat Island               |1995|
|16     |Crime|Drama                                |Casino                         |1995|
|17     |Drama|Romance                              |Sense and Sensibility          |1995|
|18     |Comedy                                     |Four Rooms                     |1995|
|19     |Comedy                                     |Ace Ventura: When Nature Calls |1995|
|20     |Action|Comedy|Crime|Drama|Thriller         |Money Train                    |1995|
+-------+-------------------------------------------+-------------------------------+----+
only showing top 20 rows

In [15]:
genres_df = movies_df.select(movies_df.movieId,movies_df.genres)
genres_df.show(truncate = False)

+-------+-------------------------------------------+
|movieId|genres                                     |
+-------+-------------------------------------------+
|1      |Adventure|Animation|Children|Comedy|Fantasy|
|2      |Adventure|Children|Fantasy                 |
|3      |Comedy|Romance                             |
|4      |Comedy|Drama|Romance                       |
|5      |Comedy                                     |
|6      |Action|Crime|Thriller                      |
|7      |Comedy|Romance                             |
|8      |Adventure|Children                         |
|9      |Action                                     |
|10     |Action|Adventure|Thriller                  |
|11     |Comedy|Drama|Romance                       |
|12     |Comedy|Horror                              |
|13     |Adventure|Animation|Children               |
|14     |Drama                                      |
|15     |Action|Adventure|Romance                   |
|16     |Crime|Drama                                |
|17     |Drama|Romance                              |
|18     |Comedy                                     |
|19     |Comedy                                     |
|20     |Action|Comedy|Crime|Drama|Thriller         |
+-------+-------------------------------------------+
only showing top 20 rows

In [16]:
genres_df = genres_df.withColumn("gener",split(genres_df.genres,"\|"))
genres_df.show(truncate = False)

+-------+-------------------------------------------+-------------------------------------------------+
|movieId|genres                                     |gener                                            |
+-------+-------------------------------------------+-------------------------------------------------+
|1      |Adventure|Animation|Children|Comedy|Fantasy|[Adventure, Animation, Children, Comedy, Fantasy]|
|2      |Adventure|Children|Fantasy                 |[Adventure, Children, Fantasy]                   |
|3      |Comedy|Romance                             |[Comedy, Romance]                                |
|4      |Comedy|Drama|Romance                       |[Comedy, Drama, Romance]                         |
|5      |Comedy                                     |[Comedy]                                         |
|6      |Action|Crime|Thriller                      |[Action, Crime, Thriller]                        |
|7      |Comedy|Romance                             |[Comedy, Romance]                                |
|8      |Adventure|Children                         |[Adventure, Children]                            |
|9      |Action                                     |[Action]                                         |
|10     |Action|Adventure|Thriller                  |[Action, Adventure, Thriller]                    |
|11     |Comedy|Drama|Romance                       |[Comedy, Drama, Romance]                         |
|12     |Comedy|Horror                              |[Comedy, Horror]                                 |
|13     |Adventure|Animation|Children               |[Adventure, Animation, Children]                 |
|14     |Drama                                      |[Drama]                                          |
|15     |Action|Adventure|Romance                   |[Action, Adventure, Romance]                     |
|16     |Crime|Drama                                |[Crime, Drama]                                   |
|17     |Drama|Romance                              |[Drama, Romance]                                 |
|18     |Comedy                                     |[Comedy]                                         |
|19     |Comedy                                     |[Comedy]                                         |
|20     |Action|Comedy|Crime|Drama|Thriller         |[Action, Comedy, Crime, Drama, Thriller]         |
+-------+-------------------------------------------+-------------------------------------------------+
only showing top 20 rows

In [17]:
genres_df = genres_df.drop(genres_df.genres)
genres_df.show(truncate = False)

+-------+-------------------------------------------------+
|movieId|gener                                            |
+-------+-------------------------------------------------+
|1      |[Adventure, Animation, Children, Comedy, Fantasy]|
|2      |[Adventure, Children, Fantasy]                   |
|3      |[Comedy, Romance]                                |
|4      |[Comedy, Drama, Romance]                         |
|5      |[Comedy]                                         |
|6      |[Action, Crime, Thriller]                        |
|7      |[Comedy, Romance]                                |
|8      |[Adventure, Children]                            |
|9      |[Action]                                         |
|10     |[Action, Adventure, Thriller]                    |
|11     |[Comedy, Drama, Romance]                         |
|12     |[Comedy, Horror]                                 |
|13     |[Adventure, Animation, Children]                 |
|14     |[Drama]                                          |
|15     |[Action, Adventure, Romance]                     |
|16     |[Crime, Drama]                                   |
|17     |[Drama, Romance]                                 |
|18     |[Comedy]                                         |
|19     |[Comedy]                                         |
|20     |[Action, Comedy, Crime, Drama, Thriller]         |
+-------+-------------------------------------------------+
only showing top 20 rows

**Join the Datasets:**

Perform an inner join on the movieId column to combine the movie and ratings datasets.

In [30]:
movies_ratings_df = movies_df.join(ratings_df,on='movieId',how='inner')
movies_ratings_df.show(truncate = False)

+-------+--------------------------------------+-----------------------------------+----+------+------+---------+
|movieId|genres                                |movie_name                         |year|userId|rating|timestamp|
+-------+--------------------------------------+-----------------------------------+----+------+------+---------+
|17     |Drama|Romance                         |Sense and Sensibility              |1995|1     |4.0   |944249077|
|25     |Drama|Romance                         |Leaving Las Vegas                  |1995|1     |1.0   |944250228|
|29     |Adventure|Drama|Fantasy|Mystery|Sci-Fi|City of Lost Children, The         |Cité|1     |2.0   |943230976|
|30     |Crime|Drama                           |Shanghai Triad                     |Yao |1     |5.0   |944249077|
|32     |Mystery|Sci-Fi|Thriller               |Twelve Monkeys                     |a.k.|1     |5.0   |943228858|
|34     |Children|Drama                        |Babe                               |1995|1     |2.0   |943228491|
|36     |Crime|Drama                           |Dead Man Walking                   |1995|1     |1.0   |944249008|
|80     |Children|Drama                        |White Balloon, The                 |Badk|1     |5.0   |944248943|
|110    |Action|Drama|War                      |Braveheart                         |1995|1     |3.0   |943231119|
|111    |Crime|Drama|Thriller                  |Taxi Driver                        |1976|1     |5.0   |944249008|
|161    |Drama|Thriller|War                    |Crimson Tide                       |1995|1     |1.0   |943231162|
|166    |Comedy|Crime|Drama                    |Doom Generation, The               |1995|1     |5.0   |943228442|
|176    |Comedy                                |Living in Oblivion                 |1995|1     |4.0   |944079496|
|223    |Comedy                                |Clerks                             |1994|1     |3.0   |944082810|
|232    |Comedy|Drama|Romance                  |Eat Drink Man Woman                |Yin |1     |5.0   |943228442|
|260    |Action|Adventure|Sci-Fi               |Star Wars: Episode IV - A New Hope |1977|1     |5.0   |943228696|
|302    |Drama|Romance                         |Queen Margot                       |Rein|1     |4.0   |944253272|
|306    |Drama                                 |Three Colors: Red                  |Troi|1     |5.0   |944248888|
|307    |Drama                                 |Three Colors: Blue                 |Troi|1     |5.0   |944253207|
|322    |Comedy|Drama                          |Swimming with Sharks               |1995|1     |4.0   |944053801|
+-------+--------------------------------------+-----------------------------------+----+------+------+---------+
only showing top 20 rows

**Step 3: Data Analysis**

**Top-Rated Movies:**

Find the top 10 movies with the highest average rating.

In [38]:
from pyspark.sql.functions import avg,desc,asc
top_ten_movies = movies_ratings_df.groupby('movieId','movie_name').agg(avg('rating').alias('Avg_rating'))
top_ten_movies = top_ten_movies.orderBy(top_ten_movies.Avg_rating.desc())
top_ten_movies.show(10,truncate = False)

+-------+--------------------------------+----------+
|movieId|movie_name                      |Avg_rating|
+-------+--------------------------------+----------+
|143061 |Don't Look Down                 |5.0       |
|292047 |Bamboo Doll of Echizen          |5.0       |
|173815 |Carnival                        |5.0       |
|132150 |The 7 Grandmasters              |5.0       |
|144058 |Territory                       |5.0       |
|136878 |Paradh                          |5.0       |
|199572 |Love+Sling                      |5.0       |
|256477 |Justice League: Secret Origins  |5.0       |
|141870 |One-Two, Soldiers Were Going... |5.0       |
|183953 |Dead Sushi                      |5.0       |
+-------+--------------------------------+----------+
only showing top 10 rows

**Popular Genres:**

Identify the most popular genres based on the number of ratings.

In [34]:
from pyspark.sql.functions import count

popular_genres = movies_ratings_df.groupBy('genres').agg(count('rating').alias('No_of_ratings'))
popular_genres = popular_genres.sort(popular_genres.No_of_ratings.desc())
popular_genres.show(truncate = False)

+--------------------------------+-------------+
|genres                          |No_of_ratings|
+--------------------------------+-------------+
|Drama                           |234492       |
|Comedy                          |194941       |
|Comedy|Romance                  |112727       |
|Drama|Romance                   |101328       |
|Comedy|Drama                    |96439        |
|Comedy|Drama|Romance            |90817        |
|Action|Adventure|Sci-Fi         |82561        |
|Crime|Drama                     |79743        |
|Action|Crime|Thriller           |50769        |
|Drama|Thriller                  |49368        |
|Action|Adventure|Sci-Fi|Thriller|45753        |
|Action|Adventure|Thriller       |43291        |
|Action|Sci-Fi|Thriller          |41640        |
|Crime|Drama|Thriller            |40916        |
|Drama|War                       |36949        |
|Action|Crime|Drama|Thriller     |34356        |
|Action|Drama|War                |33745        |
|Comedy|Crime                    |33444        |
|Documentary                     |33180        |
|Horror                          |28586        |
+--------------------------------+-------------+
only showing top 20 rows

**User Behavior:**

Analyze the distribution of ratings by users. For example, find how many movies each user has rated.

In [39]:
user_rating = movies_ratings_df.groupBy('userId').agg(count('userId').alias('No_of_ratings')).orderBy(movies_ratings_df.userId.asc())
user_rating.show(truncate = False)

+------+-------------+
|userId|No_of_ratings|
+------+-------------+
|1     |141          |
|10    |660          |
|100   |249          |
|1000  |27           |
|10000 |165          |
|10001 |25           |
|10002 |35           |
|10003 |447          |
|10004 |212          |
|10005 |421          |
|10006 |63           |
|10007 |89           |
|10008 |91           |
|10009 |59           |
|1001  |102          |
|10010 |137          |
|10011 |20           |
|10012 |65           |
|10013 |30           |
|10014 |88           |
+------+-------------+
only showing top 20 rows

**Yearly Trends:**

Determine how the average movie rating has changed over the years.

**Genre-Based Recommendations:**

For a given genre, list the top 5 movies based on average ratings.

**Movies with the Most Reviews:**

Identify the movies with the highest number of ratings.